[2021-11-04 21:29] jmshapir opened #1 "Initialize repository"

[2021-11-04 21:47] #1 closed, assigned to jmshapir

[2021-11-05 18:40] jmshapir opened #3 "Reorganize test suite"
Give `/test` its own directory

[2021-11-08 20:18] #3 closed, assigned to jmshapir

[2021-11-11 21:27] jorpppp opened #5 "Trend extrapolation in scenarios without binary policy variables - linear trends"
xtevent 1.0.0 allows for extrapolation of a linear trend in event-time as in Dobkin et al. (2018) for scenarios with binary policy variables . Extend this functionality to allow for extrapolation of higher-order trends and for settings with continuous policy variables. To do that, fit the trend to pre-event cofficients using GMM estimation.

[2021-12-03 18:39] jinfu93 opened #6 "Typo in help file for xteventplot"
I think there might be a small typo in `xteventplot.sthlp`:

https://github.com/JMSLab/xtevent/blob/c01ec79fadc3814700a1fb9843efd87cd548a23f/xtevent/xteventplot.sthlp#L172-L174

where it should be `staticovplotopts` instead of `staticovopts` since I don't think the latter is a valid option in the package. @jmshapir @jorpppp if that seems right to you should I go ahead and fix it?

Many thanks!

[2021-12-03 21:39] izmartinez opened #7 "Plot several models from xtevent in one plot with xteventplot"
It would be useful if one could plot several event study models into one plot using xteventplot.

Currently, one can in principle resort to the user-written command coefplot. However, for this it would be useful if there was an estimate _k_eq_m1 saved for t-1 (and similarly, all the other pre-treatment time points when adding the trend(#) option to the estimation) in the coefficient vector e(b).

[2021-12-14 16:52] jmshapir opened #8 "Stata 14 option limits"
@jorpppp pasting the below from our earlier notes. If this is already addressed feel free to close, thanks!

[2021-12-14 18:04] jmshapir opened #9 "Add default maximum polynomial order for smoothest line"
We want to add a maximum polynomial order for the smoothest line to ensure problem stability.

[2021-12-15 18:10] jmshapir opened #10 "Check variable typing"
Per call, we want to review how variables are typed (e.g. `double`) within the package.

[2021-12-15 18:11] jmshapir opened #11 "Add support for `addabsorb` with proxies"

[2021-12-15 18:12] jmshapir opened #12 "Check use of `cluster()` vs. `vce()`"

[2022-02-03 14:14] jmshapir opened #13 "Translation between package syntax and equation in paper"
If we type

`xtevent y_base x_r, pol(z) panelvar(id) timevar(t) pre(G) post(M) overidpre(L_G) overidpost(L_M) cluster(id) norm(-1)`

then we do not get a plot that matches equation (2) of [EventStudy](https://www.brown.edu/Research/Shapiro/pdfs/EventStudy.pdf#page=4).

Example below.

Looks like we may want to adjust the package so that it interprets the inputs in a way that lines up with the equa

[2022-02-17 18:39] veli-m-andirin commented on #13
It looks the solution might be as simple as adding -1 to the RHS [here](https://github.com/JMSLab/xtevent/blob/c01ec79fadc3814700a1fb9843efd87cd548a23f/xtevent/xtevent.ado#L167). I am not sure if this would break something else (it looks like it wouldn't, but just wanted to flag this possibility).

[2022-02-18 17:00] #6 closed

[2022-02-21 00:19] jmshapir opened #15 "Revisiting imputation outside data window"
The package does some imputation for policy changes outside of the data window, motivated by the case of staggered adoption ([example](https://github.com/JMSLab/xtevent/blob/d48959fb3ff8bc67bc6891ba7b62ed05a536b4dd/xtevent/_eventgenvars.ado#L124)).

For each unit i, define F(i) as the first period in which we observe data for i, and L(i) as the last period in which we observe data for i.

I propos

[2022-02-22 21:03] jorpppp commented on #12
This bug arises because `ivreghdfe` does not allow specifying different ways to compute standard errors with `vce`. Instead, it only allows `cluster()` or `robust`. @Constantino-Carreto-Romero will change the code upstream such that if the user writes `vce(cluster x)` when using xtevent for IV estimation and reghdfe, `xtevent` will parse the option and pass it to `ivreghdfe` as `cluster(x)`.

This

[2022-02-22 21:05] jorpppp commented on #11
@Constantino-Carreto-Romero already fixed this bug with the absorb options in https://github.com/JMSLab/xtevent/commit/7f65e74128e72f4e874d8f4d8e51b20c68fe0f84 . He will add an example using these option combinations to the test file and then we'll review, pull and merge.

[2022-02-23 16:30] izmartinez opened #16 "Obtaining the regular DiD estimates implied by the model"
It would be useful if one could also obtain the regular DiD estimates implied by the model. This is not straight forward to do manually when the option -trend- is used (and likely also not with other options allowed by -xtevent-).

[2022-02-23 21:23] jorpppp commented on #16
Thank you @izmartinez ! Just to clarify, by the regular DiD estimates, do you mean "static" Diff in Diff estimates like those produced with the "static" option in settings without trend adjustment?

[2022-02-23 21:30] jorpppp commented on #15
Thanks @jmshapir. This refactoring sounds good to me. I have a couple of comments.

- For `staggered', I think we want to check that z_{i,t} is binary, not necessarily in {0,1}. In other words, we do not want to force the user to map their binary policy to {0,1}: instead we want the package to take the binary policy and produce properly-scaled estimates. I think _eventgenvars currently checks for

[2022-02-24 00:48] jmshapir commented on #15
Thanks @jorpppp!

I'm definitely fine with allowing other binary forms, e.g. {1, 2} instead of {0, 1}.

@veli-m-andirin @nateschor is your understanding that under `staggered` option, `xtevent` behaves as described under the `staggered` bullet in https://github.com/JMSLab/xtevent/issues/15#issue-1145180171?

[2022-02-24 14:50] veli-m-andirin commented on #15
Thanks @jmshapir @jorpppp!

@jmshapir, I have two questions about the proposal in https://github.com/JMSLab/xtevent/issues/15#issue-1145180171.

On the following statement:

    - z_{i,t} \in {0,1}
    - z_{i,t'}>=z_{i,t} whenever t'>=t

For the second condition, how to deal with missing values, i.e. if there is a period t s.t. 1<=t<=T with a missing value, then are we going to ignore them or woul

[2022-02-24 16:33] jmshapir commented on #15
Thanks @veli-m-andirin! On your questions:
* When checking consistency my proposal is to reject only when the data are inconsistent, and therefore not to reject any conditions due to missing values.
* I revised the proposal to make more explicit that we should apply the imputation to all units or none.

[2022-03-01 23:27] jorpppp opened #18 "Typo in help file for xtevent"
There seems to be a missing bracket in xtevent.sthlp : https://github.com/JMSLab/xtevent/blob/d48959fb3ff8bc67bc6891ba7b62ed05a536b4dd/xtevent/xtevent.sthlp#L40

There should be an extra bracket after `(integer)'

[2022-03-02 21:43] jorpppp commented on #15
Thank you @veli-m-andirin . @Constantino-Carreto-Romero will check these examples where -xtevent- may be imputing data in a different way from Jesse's proposal, and come up with possible solutions that we can discuss and eventually implement.

[2022-03-03 15:29] jorpppp commented on #18
@Constantino-Carreto-Romero there's another typo, this time in the help file for `xteventplot', that we may fix in this issue as well. This option is repeated.
https://github.com/JMSLab/xtevent/blob/d48959fb3ff8bc67bc6891ba7b62ed05a536b4dd/xtevent/xteventplot.sthlp#L47

[2022-03-07 18:38] jorpppp commented on #15
@Constantino-Carreto-Romero has been familiarizing himself with `_eventgenvars` and he now understands how it works. He also read Schmideiny's paper. He'll be working now on implementing @jmshapir 's suggestion https://github.com/JMSLab/xtevent/issues/15#issue-1145180171 and on checking the issues brought up by @veli-m-andirin https://github.com/JMSLab/xtevent/issues/15#issuecomment-1049936885.

[2022-03-14 21:41] #11 closed

[2022-03-14 21:42] jorpppp commented on #11
Summary: In this issue we fixed a bug that did not allow the usage of the addabsorb' option in iv estimation with proxies and reghdfe'

[2022-03-14 21:44] #8 closed

[2022-03-14 21:45] jorpppp commented on #8
Summary: In this issue we fixed a bug with the options in `xteventplot' that prevented the command from running in Stata 14 or earlier.

[2022-03-14 23:28] jorpppp commented on #12
Summary: In this issue we allowed the user to specify `vce` to obtain standard errors even when using `ivreghdfe'

Thread continues in #19

[2022-03-14 23:29] #12 closed

[2022-03-14 23:32] jorpppp commented on #18
Summary: In this issue we fixed typos in `xteventplot.sthlp' and `xtevent.sthlp'.

Thread continues in PR #21

[2022-03-14 23:39] #18 closed

[2022-03-15 22:37] Constantino-Carreto-Romero commented on #15
Right now, I’m working on the code implementation of issue [#15](https://github.com/JMSLab/xtevent/issues/15), about imputation outside of the observed data range for each unit. In the case of missing values in the policy variable z in the middle of the observed data range, these missing values will remain even after imputation under the staggered scenario. Ignoring these missing values would lead

[2022-03-15 22:39] Constantino-Carreto-Romero commented on #15
Right now, I’m working on the code implementation of issue [#15](https://github.com/JMSLab/xtevent/issues/15), about imputation outside of the observed data range for each unit. In the case of missing values in the policy variable z in the middle of the observed data range, these missing values will remain even after imputation under the staggered scenario. Ignoring these missing values would lead

[2022-03-16 00:22] jmshapir commented on #15
Thanks @Constantino-Carreto-Romero @jorpppp!

Regarding issuing a warning when z is missing inside the date range covered in the data, I am totally fine with that.

Regarding imputing z inside the date range, I'm somewhat hesitant to do this for two main reasons:
1. In cases where it is clearly appropriate, I'd bet that users will already have done it. (e.g., if I know that a law change occurred o

[2022-03-23 22:07] jorpppp commented on #15
@Constantino-Carreto-Romero some comments additional to the ones made on this commit: https://github.com/JMSLab/xtevent/commit/520a15e297d50a62d7638bf180be9b766fd2b189

- Is the `nodrop`option undocumented? Where is it coming from?
- We need to implement `nounobservedchange` as proposed by Jesse. Right now I think we only have `default' and `staggered'. We want to use those option names as well, i

[2022-04-01 16:32] Constantino-Carreto-Romero commented on #15
In this [commit](https://github.com/JMSLab/xtevent/commit/bdd1cde7cb55414fa4fd72e0a23709def06cc1a7) we have already implemented the imputation options that @jmshapir proposed in this [post](https://github.com/JMSLab/xtevent/issues/15): default, no-unobserved-change, and staggered. We also added an extra option that builds upon the staggered option and additionally imputes missing values inside the

[2022-04-05 08:55] izmartinez commented on #16
Sorry, only saw that you replied now.
No, I meant the DiD that measures the average effect over the entire post-treatment period. Without the trend option, this is the static DiD. But shouldn't it also be possible to compute the DiD estimator while still controlling for pre-trends as the trend option does?

[2022-04-06 00:45] Constantino-Carreto-Romero commented on #15
Right now, we are working on these improvements:
-	Adding some warning messages about binary cases.
-	Sharpening the code that checks the third condition of the staggered option
-	Making code of binary checking more efficient
-	 Editing of helpfile

[2022-04-06 19:07] jorpppp commented on #15
Some of the variables that are created in these imputation steps may be being stored as "double" when they could be stored as "int" to preserve space. We'll postpone checking that to issue #10 .

[2022-04-06 19:37] jorpppp commented on #15
We are almost ready to wrap up this issue. We still need to check creation of the endpoint dummies when units are always-treated or never-treated, and we need to update the helpfile.

@jmshapir Once these two remaining tasks are done, @Constantino-Carreto-Romero  will start a PR here with me as a reviewer. I wanted to ask if @veli-m-andirin or @nateschor can pitch in as reviewers of this PR too. S

[2022-04-06 21:16] jmshapir commented on #15
@veli-m-andirin @nateschor what do you think?

[2022-04-07 13:53] nateschor commented on #15
@jorpppp @Constantino-Carreto-Romero @jmshapir I'm happy to review!

[2022-04-07 15:50] veli-m-andirin commented on #15
@jorpppp @Constantino-Carreto-Romero @jmshapir I'm happy to review, too!

[2022-04-11 17:43] Constantino-Carreto-Romero opened #23 "Generate event-time dummies without estimations"
Per call: An option that generates event-time dummies without estimating the model. This might be useful if the users want to customize their regressions and plots.

[2022-04-13 16:19] jorpppp commented on #13
@Constantino-Carreto-Romero will:

- [ ] Check the equation in the paper
- [ ] Check how the G, L_G, M and L_M variables in the paper map to inputs in the command
- [ ] Check if the solution by @veli-m-andirin here: https://github.com/JMSLab/xtevent/issues/13#issuecomment-1043288029 works and if it may break something else.

[2022-04-13 16:42] jorpppp commented on #9
@Constantino-Carreto-Romero will familiarize himself with the smoothest line code.- Then he will modify the code to search for polynomials up to the 10th order, as agreed here: https://github.com/JMSLab/EventStudy/issues/169#issuecomment-948774090

[2022-04-17 14:54] veli-m-andirin commented on #15
@Constantino-Carreto-Romero, thanks a lot for great effort here!

I wanted to raise a minor point: We typically close issues after a PR is opened for them. I can't close this one since I don't have write access to this repo. Could you take care of this?

[2022-04-19 19:16] Constantino-Carreto-Romero commented on #15
I will take care of it.
Thank you @veli-m-andirin for the review.

[2022-04-28 00:42] Constantino-Carreto-Romero commented on #13
Thanks @veli-m-andirin for pointing out that solution, I checked it out and it works perfectly.
On the other hand, it turns out that when using `window` instead of the combined use of `pre, post, overidpre`, and `overidpost` happens the same issue. Applying the same solution to `window` will cause graphs not to be symmetrical. Therefore, we will change the definition of `window` and its equivalenc

[2022-04-28 00:50] jmshapir commented on #13
Thanks @Constantino-Carreto-Romero!

Just confirming that, with the solution you have in mind, we'll have a mapping of this form:
* G-->pre
* M-->post
* L_G-->overidpre
* L_M-->overidpost

?

Per https://github.com/JMSLab/xtevent/issues/13#issue-1123137546, that sort of mapping seems helpful for avoiding confusion on the part of a user who is familiar with the equation in the paper. Thanks.

[2022-04-28 01:05] Constantino-Carreto-Romero commented on #13
That's right, I'm following that mapping @jmshapir

[2022-05-04 19:52] jorpppp commented on #9
@Constantino-Carreto-Romero will change this in the next commit after we close #24

[2022-05-06 19:52] #15 closed

[2022-05-06 20:05] jorpppp commented on #9
@Constantino-Carreto-Romero these changes look good. The only extra change we need here is to document this maximum order setting in the helpfile.

[2022-05-09 23:08] jorpppp commented on #9
@Constantino-Carreto-Romero. Thanks, we'll modify the helpfile a bit as agreed per meeting today.

[2022-05-09 23:18] jorpppp opened #25 "Bug in _eventiv from multiple calls to _eventgenvars"
@Constantino-Carreto-Romero noticed that currently `_eventiv` is collecting the values of the imputed policy variable from the output of `_eventgenvars`. in order to select the optimal lead of the policyvar for instrumenting. However, if `_eventgenvars` fails because the data do not satisfy staggered adoption conditions, then `_eventiv` will fail.
The fix is to not impute the policyvariable if thi

[2022-05-09 23:23] jorpppp commented on #9
Summary: In this issue we modified the maximum polinomial order allowed in the command for the smoothest line plot.
Thread continues in #26

[2022-05-09 23:24] #9 closed

[2022-05-09 23:29] jorpppp commented on #13
Thanks @Constantino-Carreto-Romero, let me rewrite this helpfile a bit before we start a PR for this.

[2022-05-10 19:10] jorpppp commented on #25
Summary; In this issue we fixed a bug where `eventiv` would fail if the imputation step failed in `_eventgenvars`.

Thread continues in #27

[2022-05-10 19:10] #25 closed

[2022-05-10 20:08] jorpppp commented on #5
@Constantino-Carreto-Romero in https://github.com/JMSLab/xtevent/commit/f859b837807078abba58d86fb3737e016a0b401f I uploaded the test file for trend extrapolation.
@Constantino-Carreto-Romero will study this along with the notes for gmm trend extrapolation [here](https://github.com/JMSLab/EventStudy/blob/8805b361838c62bd86f5abcdb5bf42f468422ee8/issues/106/extrapolation.pdf) and then he will finish

[2022-05-10 20:14] jorpppp opened #28 "Bugs in _eventgenvars"
@Constantino-Carreto-Romero will fix a few bugs we noticed in the imputation code in `_eventgenvars`

- [x] The command should return an error message if an invalid entry is typed in the `impute()`option. Currently an invalid entry leads to `nouchange`
- [x] The imputed policy variable should not be generated automatically. Instead, it should be generated only if `genvars` is active. Or, we could

[2022-05-16 22:30] jorpppp commented on #28
Summary: In this issue we tackled a few bugs in `xtevent`.

Thread continues in #29

[2022-05-16 22:31] #28 closed

[2022-05-16 22:48] jorpppp commented on #5
@Constantino-Carreto-Romero will check that event-time is generated when imputation is `nuchange` or when there is no imputation.

[2022-05-16 23:05] jorpppp commented on #5
@Constantino-Carreto-Romero will check

- [ ] That the current implementation of the gmm trend works when controls are added to the regression (check if the standard errors on the controls change between the regression implementation and the gmm implementation)
- [ ] Write the code to call the gmmtrend option from `xtevent`. `trend` should allow both a reg and a gmm option, and gmm should be the d

[2022-05-19 21:26] jorpppp opened #30 "Generate multiple event-time variables when there are multiple events per unit."

[2022-05-19 22:09] jorpppp commented on #13
We checked the helpfile and this is ready to start a PR @Constantino-Carreto-Romero

[2022-05-20 01:19] Constantino-Carreto-Romero commented on #13
Thanks you @jorpppp.
While this issue was opened, we had a PR for another issue. Therefore, to avoid file conflicts when doing the merge, I have taken the latest versions of these files and added the changes from this issue. Now, I'm going to start the PR and close this issue.

[2022-05-20 16:40] #13 closed

[2022-05-20 16:52] Constantino-Carreto-Romero commented on #13
Summary: in this issue, we adjusted the package's translation of the equation in the paper. We modified the equivalence between `window` and `pre, post, overidpre` and `overidpost` as well.
Thread continues in PR #31

[2022-05-20 18:10] Constantino-Carreto-Romero commented on #5
So far, I have:
1) Checked [the issue with the generation of the event-time variable](https://github.com/JMSLab/xtevent/issues/5#issuecomment-1128211667), now it is generated only when the policyvar is binary and satisfies no-reversion. I also edited the error message when the user specifies the option `trend` but the policivar doesn't satisfy these conditions;
2) revisited the gmm code and the ma

[2022-05-26 23:37] Constantino-Carreto-Romero commented on #5
Current progress:
1. Now the code reposts estimations using the covariance matrix for all the independent variables.
2. GMM adjustment accounts for the inclusion of controls (point 1 of [task list](https://github.com/JMSLab/xtevent/issues/5#issuecomment-1128221290)).
3. There is only one trend option, `trendg` (temporal name), that parses two suboptions, `reg` (linear trend) and `gmm` (gmm adjustm

[2022-06-02 16:09] Constantino-Carreto-Romero opened #32 "Option for adjusting text size of the test results in the plot"
Create an option for adjusting the text size of the test results in the plot.

[2022-06-02 16:31] Constantino-Carreto-Romero opened #33 "Switch default precision for parenthetical reference value"
Switch default precision for parenthetical reference value to four significant digits (rather than two decimal places)
(Requested enhancement from Roadmap)

[2022-06-02 16:37] Constantino-Carreto-Romero opened #34 "Allow simultaneously plotting multiple types of confidence intervals"
Allow simultaneously plotting multiple types of confidence intervals (e.g. different levels of clustering)
(Requested enhancement from Roadmap)

[2022-06-02 18:49] Constantino-Carreto-Romero opened #35 "Implement estimation method that is robust to treatment effects heterogeneity"
Implement the estimation method that is robust to treatment effects heterogeneity, proposed by [Sun and Abraham (2021)](https://www.sciencedirect.com/science/article/abs/pii/S030440762030378X?via%3Dihub)
(Requested feature from Roadmap)

[2022-06-03 23:16] Constantino-Carreto-Romero commented on #5
Current progress:
1. Now `xteventplot` lets overlay plots for both gmm or regression methods.

I will be working on:
1. Currently overlay estimations for the trend case are always generated when running the `xtevent` command with the option `trend`. The `trend` option should have a suboption that allows the user to decide whether the estimations for the overlay plot should also be generated. `xtev

[2022-06-04 19:18] Constantino-Carreto-Romero opened #36 "Implement methods robust to violations of parallel trends"
Implement the methods developed in [Rambachan and Roth (2020)](https://jonathandroth.github.io/papers/an-honest-approach-to-parallel-trends) for performing inference that is robust to violations of the parallel trends assumption.

[2022-06-04 20:40] Constantino-Carreto-Romero opened #37 "Trend extrapolation for different values of the normalized coefficient"
Allow trend extrapolation when the normalized coefficient is different from -1 (the default).
Derived from issue #5

[2022-06-04 20:49] Constantino-Carreto-Romero opened #38 "GMM trend estimation with higher degrees"
GMM trend estimation with higher degrees. Currently, we are using a linear trend.
Derived from issue #5

[2022-06-07 20:28] Constantino-Carreto-Romero commented on #5
Current progress:
Now `trend`  has the suboption `saveoverlay` that lets specify whether to estimate the coefficients and trend for the overlay plot. `xteventplot` produces the overlay plot only if previously `xtevent` was executed with the suboption `saveoverlay`.

I will be working on:
Some corrections of the helpfiles of `xtevent` and `xteventtest`.

We will postpone for the next release workin

[2022-06-07 20:35] Constantino-Carreto-Romero opened #39 "Allow testing for a linear trend generated with GMM"
Allow `xteventtest` to test for a linear trend generated with GMM. Currently, it is only tested for a linear trend generated with linear regression.
Derived from issue #5

[2022-06-07 20:39] jorpppp opened #40 "Familiarize with literature and with the -xtevent- package"
@rayhuang11 will:
- [ ] Read FHPS (2021)
- [ ] FHS (2019) could be useful too
- [ ] Learn about -xtevent- funcionality with the test file here: https://github.com/JMSLab/xtevent/blob/main/test/test.do

[2022-06-14 19:15] jorpppp commented on #32
@rayhuang11 will look into chapter 18 of the Stata User's guide to learn a bit more about Stata programming.
@Constantino-Carreto-Romero and @rayhuang11 will also set up some time to talk about details of the -xtevent- code.

Afterwards, @rayhuang11 will modify -xteventplot.ado- to allow for an option to modify the style of these test results in the event-study plot. The code is in lines 445 - 447

[2022-06-14 19:27] jorpppp commented on #40
Summary: In this issue @rayhuang11 learned about event studies and the xtevent package.

[2022-06-14 19:27] #40 closed

[2022-06-14 20:46] jorpppp commented on #10
@Constantino-Carreto-Romero will check for possible clashes:

- Time may come as double so recasting it as int may give missing values
- If there are many time periods per unit, sequences may have to be int and not byte

[2022-06-14 20:47] jorpppp opened #42 "Update test file"
Update test file to use the new imputation syntax, and include examples of extrapolation via GMM.

[2022-06-17 21:15] rayhuang11 commented on #33
@jorpppp I've found both requested solutions to this issue. There seems to be an automatic way to set a "good precision." One setting allows us to use four significant digits; Stata chooses based on the number being displayed.

@jmshapir would you be able to give me write access to this repo? I can also show my solutions here first, if that's easier @jorpppp.

Thanks!

[2022-06-18 13:30] jmshapir commented on #33
@rayhuang11 access elevated! Please use it wisely.

You can begin by creating a development branch for this issue using the functionality on the right of the screen:

![image](https://user-images.githubusercontent.com/7840353/174439894-2ea9e811-a95e-424e-bb66-e3faa96f683e.png)

[2022-06-20 18:49] Constantino-Carreto-Romero opened #44 "Modify window's domain described in the help file"
Modify window's domain described in the help file. Allow window's values to include zero.

[2022-06-21 18:20] Constantino-Carreto-Romero opened #46 "Allow static overlay when the impute option has been used"
After executing `xtevent` with the `impute` option, calling` xteventplot, overlay(static)` shows an error. This happens because `overlay(static)` needs the imputed policyvar to be available in the database. Nonetheless, the imputed policyvar is available only if the user specified the `saveimp` suboption within the `impute` option.

[2022-06-21 19:04] #33 closed

[2022-06-21 19:11] jorpppp commented on #5
Summary: In this issue we implemented GMM trend estimation to extrapolate linear trends when the policy variable is not binary.

Thread continues in #41.

Additional features related to trend extrapolation will be implemented in #37, #38, and #39

[2022-06-21 19:12] #5 closed

[2022-06-21 19:18] jorpppp commented on #42
@Constantino-Carreto-Romero will start a PR for this issue before the release.

[2022-06-21 19:21] jorpppp opened #47 "Upcoming Release xtevent 2.0.0"
We only have a few pending issues before the release. According to SemVer, the version number for this release should be 2.0.0

- [x] Check merging conflicts in #10 and merge the PR
- [x] Start a PR for #42 and merge
- [x] Fix the bug in #46

[2022-06-21 19:38] jorpppp commented on #16
If we understand @izmartinez 's request correcly here, what we should do is to be able to average the event-time coefficients after the event (those labeled with _k_eq_p* in the output), and subtract from that average the average of the event-time coefficients before the event (those labeled with _k_eq_m* in the output). This difference should be equivalent to a static DD estimate. Maybe there are

[2022-06-21 20:39] rayhuang11 commented on #32
@jorpppp @Constantino-Carreto-Romero thanks for your help. I've created a PR for this issue. Here is an example below of a font size adjusted plot:

<img width="979" alt="Screen Shot 2022-06-21 at 4 39 10 PM" src="https://user-images.githubusercontent.com/106756436/174893346-b05566e2-44d9-4931-9415-0f7e8b6e8f12.png">

[2022-06-23 20:10] #10 closed

[2022-06-23 20:12] jorpppp commented on #42
Summary: In this issue we updated the test file with the new functionalities in `xtevent`

Thread continues in #49

[2022-06-23 20:20] #42 closed, assigned to Constantino-Carreto-Romero

[2022-06-23 20:37] jorpppp commented on #46
Summary: In this issue we fixed a bug with static overlay plots when the policy variable was imputed.

Thread continues in #50

[2022-06-23 20:41] #44 closed

[2022-06-24 18:50] #46 closed

[2022-06-24 19:21] #47 closed

[2022-06-24 19:26] jorpppp opened #52 "Edit version statement for SSC"
Edit version statement to `xtevent 2.0.0`in `xtevent.ado` so it displays properly in SSC and Stata

[2022-06-24 19:39] jorpppp commented on #52
Summary: In this issue we fixed version statements and updated the help file.

Thread continues in #53

[2022-06-24 19:40] #52 closed

[2022-06-24 20:44] jorpppp opened #54 "Upload xtevent 2.0.0 to SSC"
I have been trying to submit the new release xtevent 2.0.0 from here to SSC; https://github.com/JMSLab/xtevent/releases/tag/v2.0.0

However Gmail is bouncing the zip file back and flagging it as a virus! I know our code is not perfect, but that seems harsh.

@Constantino-Carreto-Romero can you check if you also get the false positive when trying to send the zip file from the release as an attachme

[2022-06-24 21:33] Constantino-Carreto-Romero commented on #54
@jorpppp I have tried to attach the zip file from https://github.com/JMSLab/xtevent/releases/tag/v2.0.0 and I get the same error "virus detected". Then, I tried downloading the files from the repository, zipping them, and attaching them, but there it shows the same virus message.

[2022-06-24 21:50] jorpppp commented on #54
@Constantino-Carreto-Romero Thanks. I changed the file in the release (different compression method). Can you try that one?

[2022-06-24 21:57] Constantino-Carreto-Romero commented on #54
@jorpppp
Zipping them with a ".rar" extension worked on my computer
https://drive.google.com/drive/folders/1898TyoMKE4WBbywhU2wzBAjI2nu5XbNz?usp=sharing

[2022-06-24 22:00] jorpppp commented on #54
@Constantino-Carreto-Romero unfortunately SSC guidelines ask for .zip or .gz

http://repec.org/bocode/s/sscsubmit.html

Did you try the new file in the release?

[2022-06-24 22:16] Constantino-Carreto-Romero commented on #54
@jorpppp with the new file it works

[2022-06-24 23:25] jorpppp commented on #54
@Constantino-Carreto-Romero Thanks, I'll close the issue when SSC confirms the new version is posted.

[2022-06-27 02:27] jorpppp opened #55 "Static overlay plots not working if policyvar option was abbreviated in -xtevent- call"
@Constantino-Carreto-Romero the parser for the static plot options in `xteventplot` does not work if the options in `xtevent` were abbreviated. As a result, static overlay plots return an error.
Noticed by @wenddymacro

[2022-06-27 02:29] jorpppp commented on #54
It's up, although we may need to update soon because of #55

[2022-06-27 02:29] #54 closed

[2022-06-27 17:43] jorpppp opened #56 "Check option abbrevations in all commands"
Check option abbreviations in `xtevent`, `xteventplot` and `xteventtest`. Check that all parsers understand the abbreviations and check if we want to enable new abbreviations.

[2022-06-27 17:47] jorpppp commented on #55
We also think that we should release the bug fix quickly to this repository, but we shouldn't be releasing updates too frequently for SSC. A good practice may be to send a release to SSC only when we have a version change in the second digit in SemVer.

We also should update the readme file so people see the current SSC and Github versions.

[2022-06-28 19:14] jorpppp commented on #55
Summary: In this issue we allowed abbreviations in the parser for static overlays, to avoid clashes with abbreviations in `xtevent`.

Thread continues in #57

[2022-06-28 19:15] #55 closed

[2022-06-28 19:24] jorpppp commented on #16
@rayhuang11  will keep working on this. Maybe using `lincom` we won't need to calculate the difference through averages. In any case, the point estimate from `lincom` and the estimate using the averages should match.

The output from `lincom` is fine.

[2022-06-28 19:29] jorpppp commented on #56
@rayhuang11 will
- [ ] Check `xtevent`, `xteventplot` and `xteventtest` to allow for more abbreviations in the options.
- [ ] Make sure that the abbrevations are consistent across commands.
- [ ] Check the lower level commands and parsers to make sure they allow abbreviations as well.

Make sure

[2022-06-28 19:50] jorpppp commented on #7
@rayhuang11  will look into this. The first step is to produce a event study plot with two coefficient paths next to each other, from two coefficient and variance matrices. Then, we can look into doing the same from `xtevent` output.

Also look at the other DID commands out there, you can find them in the Asjad Naqvi guide. At least one of those commands has syntax for a multiple event study plot

[2022-06-28 19:54] jorpppp opened #58 "Installing the Github version of the package from inside Stata"
@Constantino-Carreto-Romero will look at how we can enable installation from Github inside Stata, as `reghdfe` does. We may need to program a package file. There may also be an alternative using a stata command to install from Github.

[2022-06-28 19:55] jorpppp commented on #58
We want to do this before the next release. We'll also modify the repository readme to reflect this when we figure it out.

[2022-06-29 19:45] rayhuang11 commented on #16
@jorpppp @Constantino-Carreto-Romero thanks for the help so far.

I implemented both approaches, both of which are included in https://github.com/JMSLab/xtevent/commit/84b7b57cf804da8dd5ddd2e8ef5f1be2f5b287ac. The two estimates match. Here is what the output looks like. The first one is from the matrixes; the second one is from `nlcom`.

<img width="949" alt="Screen Shot 2022-06-29 at 3 42 15 PM"

[2022-06-29 21:03] rayhuang11 commented on #32
@jorpppp @Constantino-Carreto-Romero we can review these changes (https://github.com/JMSLab/xtevent/commit/ea12af3c651acc9c59440547acb388672d2edc6b, https://github.com/JMSLab/xtevent/commit/d1ae25b7303b3429cfbd72071df7c000724c0b5c) in next week's meeting. The textbox option is working now. For example:

<img width="903" alt="Screen Shot 2022-06-29 at 5 03 41 PM" src="https://user-images.githubuser

[2022-07-04 16:24] rayhuang11 commented on #56
@jorpppp @Constantino-Carreto-Romero I added some additional abbreviation options and checked consistency of abbreviations of across different ado files. We can discuss tomorrow whether we like the abbreviations I chose.

[2022-07-04 16:56] Constantino-Carreto-Romero opened #59 "Allow for data structures that cannot be xtseted"
Per call: Do not restrict to data structures with time and unit variables that have to be declared with `xtset`, but allow for data structures where we don't have the same units over time (i.e., pooled cross-sectional data).

[2022-07-04 20:25] jorpppp opened #60 "Add release information to .txt file to be included in each releases's zip file"
Right now every release includes a [install.txt](https://github.com/JMSLab/xtevent/blob/aa58dd023672e42351d89580f5f116106dc2106a/xtevent/install.txt) file.

We should also create a "release.txt" file that includes version information and the change log from the release page: https://github.com/JMSLab/xtevent/releases/tag/v2.0.0. That way, if a user downloads the zip file, it will include release i

[2022-07-04 23:58] Constantino-Carreto-Romero commented on #32
@rayhuang11 It would be good to add an example to the help file. Likewise, you could add an example to the [test file](https://github.com/JMSLab/xtevent/blob/main/test/test.do).

[2022-07-05 00:18] Constantino-Carreto-Romero commented on #16
@rayhuang11 it looks good. What about adding the option `noheader` to `nlcom`? Maybe it would be good to suppress showing the linear combination.

[2022-07-05 17:11] Constantino-Carreto-Romero commented on #58
Installation from github has been enabled by two ways: 1) by the `github` command and; 2) by the `net` command (as for `reghdfe`).
I consulted the following sources:
- https://www.stata.com/manuals/rnet.pdf
- http://users.jyu.fi/~mivaanro/github/
- https://github.com/sergiocorreia/reghdfe

[2022-07-05 19:21] rayhuang11 commented on #7
Update: did not do any work on this in the past week.

[2022-07-05 19:23] veli-m-andirin commented on #13
@Constantino-Carreto-Romero @jorpppp,

When I run the code snippet in https://github.com/JMSLab/xtevent/issues/13#issue-1123137546 I still see a plot where we have an extra lag. I think the furthest lag should be 6 if the mapping between the code and the paper is correct. Please let me know if I am missing something.

@nateschor @rcalvo12 fyi.

[2022-07-05 19:59] jorpppp commented on #16
We'll remove the `noheader` option because `lincom` doesn't allow it.
Get rid of the matrix stuff and just use `lincom`.

[2022-07-05 20:03] jorpppp commented on #56
@rayhuang11 will implement some minor abbrevation changes

[2022-07-05 20:06] jorpppp commented on #60
Rough draft of release.txt:

xtevent 2.0.0 - Date of release.

by authors

to cite, cite (Paper citation)

Changelog:

Info from the release (broad changes, not the detailed ones)

[2022-07-05 20:07] jorpppp commented on #59
@Constantino-Carreto-Romero will add a better description

[2022-07-05 20:17] jorpppp opened #62 "Statalist"
@jorpppp will post info about the new release and the Github repo on Statalist.

@rayhuang11 will check Statalist for discussion about `xtevent` and bring in any issues that we may want to work on.

[2022-07-05 20:17] jorpppp commented on #62
@rayhuang11 any issue that you find, just copy it here and we'll discuss whether we want to create new issues.

[2022-07-05 20:21] jorpppp commented on #32
Summary: In this issue we added options to format the text of the hypotheses test results below the graph.

Thread continues in #48

[2022-07-05 20:21] #32 closed

[2022-07-05 21:04] rayhuang11 commented on #16
@jorpppp @Constantino-Carreto-Romero thanks for your help! We are ready to merge.

[2022-07-06 14:01] nateschor commented on #13
@Constantino-Carreto-Romero @jorpppp When I run the code snippet in https://github.com/JMSLab/eventstudyr/pull/10#issuecomment-1175448366 I get the furthest lag as overidpost + post, but running the code in https://github.com/JMSLab/eventstudyr/pull/10#issuecomment-1175132904 gives the furthest lag as overidpost + post + 1, so it seems like whether or not the +1 is included depends upon the values

[2022-07-06 14:21] nateschor commented on #13
@jmshapir sure thing!

@Constantino-Carreto-Romero @jorpppp following up on https://github.com/JMSLab/xtevent/issues/13#issuecomment-1176260606:

I ran `xtevent y_base x_r, pol(z) panel(id) timevar(t) pre(2) post(3) overidpre(4) overidpost(4) norm(-3) plot` and was expecting post + overidpost + 1 = 8 lags but am getting 7 now. I used `simulation_data_dynamic.dta` from the [paper archive](https://d

[2022-07-06 14:41] jmshapir commented on #13
Thanks @nateschor! Can you also post what you get when you execute the snippet in https://github.com/JMSLab/xtevent/issues/13#issue-1123137546?

[2022-07-06 14:46] jmshapir commented on #13
@nateschor regarding [this example](https://github.com/JMSLab/xtevent/issues/13#issuecomment-1176284955), thinking of the translation between the [paper](https://scholar.harvard.edu/files/shapiro/files/eventstudy.pdf#page=5) and the package as roughly

`xtevent y_base x_r, pol(z) panelvar(id) timevar(t) pre(G) post(M) overidpre(L_G) overidpost(L_M) cluster(id) norm(k*)`

it seems like we'd expect

[2022-07-06 14:49] Constantino-Carreto-Romero commented on #13
@veli-m-andirin  @nateschor thanks for the follow-up.
xtevent 1.0.0 still presents the problem of adding one extra lag to the right window, but in xtevent 2.0.0 this problem was fixed.
version 2.0.0 is already available to install by SSC.
We are announcing changes from one version to the other in [the repository](https://github.com/JMSLab/xtevent/tree/issue58_installation_from_github), but still w

[2022-07-06 15:06] nateschor commented on #13
@jmshapir when I execute the code in https://github.com/JMSLab/xtevent/issues/13#issue-1123137546 I get the plot below, which matches our expectation since `M + LM = 5 + 1 = 6`

`xtevent y_base x_r, pol(z) panelvar(id) timevar(t) pre(0) post(5) overidpre(5) overidpost(1) cluster(id) norm(-1)`
`xteventplot`

![image](https://user-images.githubusercontent.com/70981003/177580957-a17d8e1c-2d10-4ed0-9b

[2022-07-06 15:10] jmshapir commented on #13
Got it, thanks @nateschor!

When you have a chance, can you let me know what you think of my reasoning in https://github.com/JMSLab/xtevent/issues/13#issuecomment-1176313628?

[2022-07-06 15:13] nateschor commented on #13
@jmshapir what I wanted to flag was that in the screenshot below, the farthest lag was given by `M + LM + 1` rather than `M + LM` (Veli was able to reproduce the behavior).

![image](https://user-images.githubusercontent.com/70981003/177582323-2e5eaf23-e3df-475a-b6cd-cda3bd86afdb.png)

![image](https://user-images.githubusercontent.com/70981003/177583068-85117fd0-b4b7-41c0-9027-33a92b551649.png)

[2022-07-06 15:20] nateschor commented on #13
@jmshapir I agree with your reasoning!

That's correct, I'm now seeing the expected behavior from `xtevent` and leaving https://github.com/JMSLab/xtevent/issues/13 as resolved sounds good to me, thanks!

[2022-07-06 15:57] rayhuang11 commented on #16
@jorpppp done! What do you think of the help file? Let me know if you have any suggestions. Thanks.

[2022-07-07 23:34] Constantino-Carreto-Romero commented on #58
I installed `reghdfe` with a similar syntax, as described in the [repository of reghdfe](https://github.com/sergiocorreia/reghdfe), and it worked on my computer.

I think it doesn't return an error because the URL exists and it found the files in that URL, but the downloadable versions of the ado files are not stored in the `github.com` domain, but in the `raw.githubusercontent.com`  domain. It is

[2022-07-08 21:43] jorpppp commented on #58
@Constantino-Carreto-Romero got it, thanks. I think we'll have to rely on testing from @rayhuang11 , because there's no way for me to test it for me.

[2022-07-09 15:36] rayhuang11 commented on #58
@jorpppp @Constantino-Carreto-Romero sorry for the delay on my end!

For me, `net install xtevent, from("https://raw.githubusercontent.com/JMSLab/xtevent/issue58_installation_from_github") replace` works! No issues at all.

Thanks.

[2022-07-09 15:52] rayhuang11 commented on #56
@jorpppp one minor thing:

I noticed in some files (e.g. `_eventiv.ado`) the option to absorb additional variables in reghdfe is called `ABSorb(string)`. However, in `xtevent.ado`, it is called `ADDABSorb(string)`. Should we make them consistent?

[2022-07-09 16:55] rayhuang11 commented on #60
@jorpppp the draft is in XX. I've attached a few questions to it. Please let me know your thoughts. Thanks!

[2022-07-09 17:38] rayhuang11 commented on #62
@jorpppp

No bugs / suggestions have been reported for `xtevent` on Statalist.

When we search "xtevent" on Statalist we get 2 threads, one of which is the [original post](https://www.statalist.org/forums/forum/general-stata-discussion/general/1627508-xtevent-stata-module-to-estimate-and-visualize-linear-panel-event-study-models-now-available-on-ssc) that Jorge shared about `xtevent`. In the discu

[2022-07-09 17:48] rayhuang11 commented on #16
@jorpppp thanks!

Currently, if I try to run both `static` and `staticDD` simultaneously, I get the following error: "option staticDD not allowed". Is this sufficient?

Alternative name ideas for `staticDD`:

- `dd`
- `diffdiff`, which can be abbreviated as `diff`
- `diffavg`

[2022-07-10 17:00] jorpppp commented on #16
@rayhuang11 Yes, the error message works.

As of option names, I like `diffavg`. Can you change the files to use that option name, please?

[2022-07-10 17:03] jorpppp commented on #58
Great, thanks @Constantino-Carreto-Romero  @rayhuang11.  I'll make some minor edits to the mardown and then I'll merge this in.

[2022-07-10 17:11] rayhuang11 commented on #16
@jorpppp sure thing. How do we feel about `diff` as an abbreviation?

[2022-07-10 17:19] jorpppp commented on #58
Summary: In this issue we enabled installation from Github inside Stata and updated the readme file.

Thread continues in #61.

[2022-07-10 17:19] #58 closed

[2022-07-10 17:22] jorpppp commented on #56
@rayhuang11 Yes, we should maintain consistency. Can you fix that, please? @Constantino-Carreto-Romero can you check that after @rayhuang11 is done.

Something I've noticed: We are still discussing in the issues after a PR has been created. Once a PR has been created, we should move discussion to the PR. This is my last comment on the Issue and we'll keep discussing this on the PR.

[2022-07-10 17:22] jorpppp commented on #56
Summary: In this issue we checked option abbreviations.

Thread continues in #64.

[2022-07-10 17:22] #56 closed

[2022-07-10 17:27] jorpppp opened #65 "Weighting to obtain implied diff in diff estimates when the sample is unbalanced"
In #16 we added functionality to calculate the implied difference in difference estimate from the dynamic estimates, by subtracting the average of the pre-event coefficients from the average of the post-event coefficients.

We are unsure if this works when the sample is unbalanced or if we need some weights. @jorpppp will think about this before starting implementation.

[2022-07-10 17:28] jorpppp commented on #16
Summary: In this issue we added functionality to obtain the difference in the average of the post-event coefficients and the average of the pre-event coefficients.

We'll work out issues when the sample is unbalanced in #65.

Thread continues in #63.

[2022-07-10 17:28] #16 closed

[2022-07-10 17:34] jorpppp commented on #62
@rayhuang11. Thanks, I don't think we need to search for additional threads or mentions of "event studies". There is a different methodology called "event study" in finance so if you use that search term you'll get a lot of threads unrelated to panel event studies.

I will post to Statalist about the new version and then we'll close this issue.

[2022-07-10 17:46] jorpppp commented on #62
Here's the new Statalist post @SimonFreyaldenhoven

https://www.statalist.org/forums/forum/general-stata-discussion/general/1672952-xtevent-stata-module-to-estimate-and-visualize-linear-panel-event-study-models-updated-on-ssc

I'll keep an eye out on Statalist to bring questions, bugs, and feature requests to Github.

[2022-07-10 17:46] jorpppp commented on #62
Summary: In this issue we posted about the `xtevent` updated on Statalist. We also checked if there were any bugs or feature requests there.

[2022-07-10 17:46] #62 closed

[2022-07-10 17:50] jorpppp commented on #60
@rayhuang11 Thank you. I answered the questions on Github comments as well.

[2022-07-10 20:44] rayhuang11 commented on #60
Summary: in this issue, we created a "release.txt" file that includes version information and the change log from the release page: https://github.com/JMSLab/xtevent/releases/tag/v2.0.0.

Thread continues in

[2022-07-11 02:36] #60 closed

[2022-07-12 19:18] rayhuang11 commented on #7
Update: did not do any work on this in the past week.

[2022-07-12 19:47] jorpppp commented on #35
@Constantino-Carreto-Romero @jorpppp and @rayhuang11 will read Sun and Abraham.

[2022-07-12 19:50] jorpppp opened #67 "Interactive Fixed Effects"
We want to include IFE estimators in the command. A relevant reference here is [Gobillon and Magnac 2016](https://direct.mit.edu/rest/article-abstract/98/3/535/58348/Regional-Policy-Evaluation-Interactive-Fixed?redirectedFrom=fulltext)

Ideally we want to piggyback on the `regife` command.

[2022-07-14 17:58] veli-m-andirin commented on #15
@jmshapir @jorpppp @Constantino-Carreto-Romero @nateschor @rcalvo12,

Reviving this thread! I have two questions after running this code snippet:

[code]

1) What is the current default for imputation? I assume it is "doing nothing" (i.e. not imputing unless that option is specified, is that correct), is that correct?

If so, why is the third lead of the first differenced policy variable [here](ht

[2022-07-14 22:55] jmshapir commented on #15
@veli-m-andirin thanks! I could see a case for a variety of defaults, but maybe the simplest is to treat observed and imputed values of $z_{i,t}$ symmetrically for the purpose of the calculation in [(4)](https://scholar.harvard.edu/files/shapiro/files/eventstudy.pdf#page=7)?

[2022-07-14 23:38] Constantino-Carreto-Romero commented on #15
@veli-m-andirin  Thanks for noticing these issues.
Regarding:

That's correct. The default is to do nothing, it imputes only if the option `impute` is specified.

When running:
[code]
![screen](https://user-images.githubusercontent.com/36095845/179096922-4b6efc96-722d-4b05-8d61-218d26c1ca2d.png)

The endpoints are being correctly not imputed but the other event-time dummies are being imputed when

[2022-07-15 09:57] veli-m-andirin commented on #15
Thanks @jmshapir @Constantino-Carreto-Romero!

@jmshapir, on https://github.com/JMSLab/xtevent/issues/15#issuecomment-1184969298: Can you please clarify treating observed and imputed values of  $z_{i,t}$ symmetrically, since I think in the default mode we are not imputing the policy variable?

[2022-07-15 12:28] jmshapir commented on #15
@veli-m-andirin under my [proposal](https://github.com/JMSLab/xtevent/issues/15#issuecomment-1184969298), in cases where we do not impute the policy variable, then we would use only observations ${i,t}$ with directly observed values of $z_{i,t}$ for the calculation in [(4)](https://scholar.harvard.edu/files/shapiro/files/eventstudy.pdf#page=7).

[2022-07-15 14:30] veli-m-andirin commented on #15
Thanks @jmshapir! Then, is it correct to say that for instance, in cases where we do not impute the policy variable, if we are normalizing the coefficient in front of the third lead of the first-differenced policy variable, then we should only use those observations where that lead is defined (and is non-zero)? (Note that in the example I posted in the first point [here](https://user-images.github

[2022-07-16 22:54] veli-m-andirin commented on #15
Thanks @jmshapir! I think https://github.com/JMSLab/xtevent/issues/15#issuecomment-1185847554 clearly explains what I had in mind in https://github.com/JMSLab/xtevent/issues/15#issuecomment-1185603746, and for now I don't see cases where that proposal is ambiguous.

[2022-07-18 00:19] Constantino-Carreto-Romero commented on #59
@jorpppp @rayhuang11  I have created a repeated cross-section version dataset using the [example dataset](https://github.com/JMSLab/xtevent/blob/main/test/example31.dta).
I implemented the following steps:
1. In the initial dataset, treatment happens at different periods for all units.  To be able to use forwards and lags when computing event-time dummies in the repeated cross-section dataset, I n

[2022-07-18 15:38] jorpppp commented on #59
@Constantino-Carreto-Romero this structure is a bit strange and it doesn't seem easy to work with or understand. What I was thinking of was a structure where treatment varies by groups, but you are working with individual data in repeated cross sections so the data cannot be `xtset`. Think of US states and a policy that varies across states in a staggered fashion. Your data is repeated cross secti

[2022-07-19 15:23] jorpppp commented on #65
Per call yesterday, we agreed that doing this would involve a lot of linear algebra and have little returns, so we'll just keep the difference in average coefficients pre and post from #63 as is.

[2022-07-19 15:42] jorpppp commented on #59
Per call: We won't try to embed estimation in this setting in `xtevent`. Instead we'll use the tricks from @chansen776 's paper to transform the data first, by doing a regression on "state-year" dummies and then running an auxiliary regression with the coefficient estimates on these dummies as dependent variables to recover the event-study coefficients.

https://www.sciencedirect.com/science/artic

[2022-07-19 15:51] Constantino-Carreto-Romero opened #68 "Imputation of event-time dummies occurring when not specified"
Per [comment](https://github.com/JMSLab/xtevent/issues/15#issuecomment-1185027437) in issue #15, the endpoints correctly follow the specification/no specification of the `impute` option, but in the case of the event-time dummies, they are always being imputed.

[2022-07-19 16:13] Constantino-Carreto-Romero opened #69 "reported mean in the plot not calculated with the imputed policy variable"
Per [comment](https://github.com/JMSLab/xtevent/issues/15#issuecomment-1185027437) in issue #15, when the option `impute` is specified, the reported mean in the plot is not calculated with the imputed version of the policy variable. Also check if the mean calculation follows [comment ](https://github.com/JMSLab/xtevent/issues/15#issuecomment-1185847554)in issue #15.

[2022-07-20 19:05] Constantino-Carreto-Romero opened #70 "Inclusion of endpoints in the plot when adjusting with a trend"
After running this code snippet, where we are adjusting with a trend by ols method:

[code]
The following plot is produced:
![1 ](https://user-images.githubusercontent.com/36095845/180060708-fa8f71c3-6a59-4f9c-ac91-d1e32d82480d.png)

Endpoints should not be included in the plot.

[2022-07-21 19:13] rayhuang11 commented on #7
@Constantino-Carreto-Romero @jorpppp I may have found a potential bug. When I run

`xtevent y eta , panelvar(i) timevar(t) policyvar(z) window(5) plot`

on the `example.dta` and try to get the x-axis values for the plot via `e(mattrendx)`, I get the error r(111) `matrix e(mattrendx) not found`.

[2022-07-22 16:10] Constantino-Carreto-Romero commented on #59
@jorpppp  I have created the repeated cross-sectional dataset following your recommendations, thanks!

1. I specified groups, which could represent states, and to each state, I randomly assigned a treatment time.
2. Then, I took every observation from the example database, and I assigned it to a state, depending on the treatment time of the unit the observation comes from.
For instance, for some p

[2022-07-22 16:18] rayhuang11 commented on #7
Update: successfully created some fake data produced an event study plot with two coefficients paths next to each other from the matrices taken from the `xtevent` command.

For future reference: the link for of Asjad Naqvi's guide on DiD is [here](https://asjadnaqvi.github.io/DiD/docs/01_stata/).

[2022-07-22 16:52] jorpppp opened #71 "Clarify that some matrices are not generated unless the -trend- option is used"
Per comment in #7: https://github.com/JMSLab/xtevent/issues/7#issuecomment-1191841866
we want to clarify that `e(mattrendy)` and `e(mattrendx)` are only generated when the `trend` option is used.

[2022-07-22 16:52] jorpppp commented on #7
This is not a bug, just lack of clarity in the documentation. We'll edit the documentation in #71.

[2022-07-22 17:07] jorpppp commented on #7
We are thinking that to make this work, we need to create a command that makes repeated calls to `xteventplot` to generate the x and ya values to be plotted from multiple model estimates. The first step to implement this is to add an `offset` option to `xteventplot` that offsets the x-values of the event coefficients by a fixed amount.

@rayhuang11 will check Asjad Naqvi's guide to see if there's

[2022-07-22 17:08] jorpppp commented on #35
We are still reading, hopefully we'll finish by the next meeting.

[2022-07-22 17:15] jorpppp commented on #59
@Constantino-Carreto-Romero will review the estimation trick from above: https://github.com/JMSLab/xtevent/issues/59#issuecomment-1189214714

Since @Constantino-Carreto-Romero already has code to generate event-time dummies in a "state-year" level dataset and estimate an event-study there, he will produce estimates using his approach and the approach from the paper and compare them.  They should b

[2022-07-22 17:17] jorpppp commented on #68
@Constantino-Carreto-Romero  will check the conditionals in `_eventgenvars` to make sure this issue does not occur.

[2022-07-22 17:18] jorpppp commented on #68
To avoid Git conflicts, @Constantino-Carreto-Romero  will not create a commit here until the issues in #63  and #64 have been solved and the branches have been merged.

[2022-07-22 17:20] jorpppp commented on #69
@Constantino-Carreto-Romero will check `_eventols` and `_eventiv` to make sure that the calculation of the mean of the dependent variable at baseline uses the imputed policy variable to identify the baseline.

To avoid Git conflicts, @Constantino-Carreto-Romero will not create a commit here until the issues in https://github.com/JMSLab/xtevent/pull/63 and https://github.com/JMSLab/xtevent/pull/64

[2022-07-22 17:24] jorpppp commented on #70
@jorpppp  will check why the code that suppresses the endpoints when the `trend` option is used is not active here.

[2022-07-25 21:15] jorpppp commented on #35
- [ ] @jorpppp reads Sun and Abraham

- [ ] @Constantino-Carreto-Romero reads Sun and Abraham

- [ ] @rayhuang11 reads Sun and Abraham

[2022-07-28 12:57] veli-m-andirin opened #72 "Question about smoothest path"
@jorpppp @Constantino-Carreto-Romero,

I had a question about the smoothest path.

I think the object k [here](https://github.com/JMSLab/xtevent/blob/357b39e374e560705676b84b9ee6163dc0e765c7/xtevent/xteventplot.ado#L630-L633) corresponds to k on [this page](https://scholar.harvard.edu/files/shapiro/files/eventstudy.pdf#page=11), i.e. it should run from -G -L_G - 1 to M + L_M. Instead, it runs from

[2022-07-28 13:11] veli-m-andirin commented on #72
Also, a related suggestion/an item to wishlist: I think it would be nice to have a mathematical vignette that lays out how the smoothest path problem is solved in the code, detailing the approach used.

[2022-07-28 18:13] rayhuang11 commented on #71
Summary: in `xtevent.sthlp` we clarified that `e(mattrendy)` and `e(mattrendx)` are only generated when the `trend` option is used.

[2022-07-28 18:15] #71 closed

[2022-07-28 20:50] jmshapir commented on #72
@veli-m-andirin I've made a note of this, thanks!

[2022-07-28 23:17] jorpppp commented on #68
#63 and #64  have been merged.

[2022-07-28 23:17] jorpppp commented on #69
#63 and #64  have been merged.

[2022-07-28 23:28] jorpppp opened #74 "2.1.0 Release"
@Constantino-Carreto-Romero can you please update release.txt and readme.md for the new release?

Is there anything else you think we need to update before releasing?

@rayhuang11 FYI

[2022-07-28 23:31] jorpppp commented on #74
@Constantino-Carreto-Romero Please make the updates in a branch. That way we can hold off the updates until we are ready to release.

[2022-07-29 12:48] Constantino-Carreto-Romero commented on #59
@jorpppp  I have estimated the event-time dummies following [the two-step procedure](https://user-images.githubusercontent.com/36095845/181762692-dae4513f-2d4c-41ab-bdbe-7eb46cc35638.png) in section 2.2 of [Hansen, 2007](https://www.sciencedirect.com/science/article/abs/pii/S0304407606001515?via%3Dihub). First, I estimated [equation 1)](https://user-images.githubusercontent.com/36095845/181754434-

[2022-07-29 14:31] Constantino-Carreto-Romero commented on #68
The following code snippet helps verify the correct imputation/no imputation of the event-time dummies:
[code]
For instance, for unit 1, event-time dummies look like this:
![noimp](https://user-images.githubusercontent.com/36095845/181782029-37b171c1-8b5c-49bb-a37b-9add6780693a.png)

[code]
![imp](https://user-images.githubusercontent.com/36095845/181782083-f29e0e19-5d95-40c3-b783-aaa606d3ebfc.png

[2022-07-29 15:46] SimonFreyaldenhoven commented on #72
@veli-m-andirin Thanks! to add my two cents:

I think conceptually neither the shift or division are needed, but any shift and/or division should work. You are essentially just playing with the basis of the polynomial space.

I think of the division as just a normalization (it redefines the x-axis to run from 0 to 1). Under the hood I believe we use a barrier function in the implementation (though

[2022-07-29 15:55] Constantino-Carreto-Romero commented on #69
Now the reported mean in iv settings accounts for the imputed policy variable. The correction consisted only of changing a temporary variable. There still remains the correction in the case of _eventols.

[2022-07-29 16:07] rayhuang11 commented on #35
Note that the [staggered package ](https://github.com/jonathandroth/staggered#stata-implementation)by Jonathan Roth implements the Sun and Abraham estimator in R.

[2022-07-29 16:10] chansen776 commented on #72
@veli-m-andirin @SimonFreyaldenhoven is correct. Conceptually, anything should be fine. The movements are for numeric stability as high-order polynomials are not numerically well-behaved. We looked at scaling to the unit interval and the -1 to 1 interval at different points in time. All of these normalizations should return (up to numeric issues) the same results if every feature of the problem is

[2022-07-29 16:16] rayhuang11 commented on #7
@jorpppp I did not find anything in Naqvi's guide.

[2022-07-29 16:48] jorpppp commented on #7
Thanks @rayhuang11, we'll implement the `offset` option then.

[2022-07-29 17:01] jorpppp commented on #35
We agreed that if the other packages that do Sun and Abraham are using R in the background, then it makes more sense to implement the Sun and Abraham estimator in Stata inside the xtevent architecture, instead of piggybacking on built-in Sun and Abraham commands.
@rayhuang11  will check if there's an implementation of Sun and Abraham that uses Stata.

@jorpppp will find the code we used for cohort

[2022-07-29 17:06] jorpppp commented on #59
@jorpppp will check this. I think that we may need to use a different s.e. calculation in the last regression (the GLS one) with the Hansen method.

I also think that this discrepancy would not appear if we were using robuts/clustered s.e. s. @Constantino-Carreto-Romero can you check if that's the case, please?

[2022-07-29 17:07] jorpppp commented on #70
@Constantino-Carreto-Romero will check this.

[2022-07-29 17:15] jorpppp commented on #7
@rayhuang11 will also check the `eventdd` package

[2022-07-29 23:31] jorpppp commented on #72
@veli-m-andirin let me know if @SimonFreyaldenhoven 's and @chansen776 's answers make sense. If so, we may be able to close this issue.

[2022-07-31 19:09] veli-m-andirin commented on #72
Thanks @SimonFreyaldenhoven @chansen776 for the explanations, these make sense to me.

@jorpppp, I agree that we can close the issue. @SimonFreyaldenhoven @jorpppp do you think the following should be tackled in a separate issue:

I think this would help both xtevent users in terms of clarification and eventstudyr developers.

[2022-07-31 20:16] jmshapir commented on #72
Thanks @veli-m-andirin! I've made a note of [that suggestion](https://github.com/JMSLab/xtevent/issues/72#issuecomment-1200481941) in another repository.

[2022-07-31 20:38] veli-m-andirin commented on #72
Thanks @jmshapir!

Summary: In this issue I asked the questions in https://github.com/JMSLab/xtevent/issues/72#issue-1320892821  regarding the smoothest path implementation in xtevent.  The answers are in https://github.com/JMSLab/xtevent/issues/72#issuecomment-1199579913 and https://github.com/JMSLab/xtevent/issues/72#issuecomment-1199638054.

[2022-07-31 20:38] #72 closed

[2022-08-01 20:08] #68 closed

[2022-08-01 22:33] #69 closed

[2022-08-01 22:35] jorpppp commented on #74
With #75 and #76 closed, we can continue working on the release! @Constantino-Carreto-Romero please let us know when you've updated the description files above.

[2022-08-01 23:03] Constantino-Carreto-Romero commented on #74
@jorpppp I have updated the files: readme.md, release.txt, and xtevent.pkg to reflect changes due to the new release. I also updated the release date in the ado files where the release date was mentioned. The release date I specified is August 1, 2022.

[2022-08-01 23:22] jorpppp commented on #74
Thanks @Constantino-Carreto-Romero. I'll check these now.

[2022-08-01 23:22] jorpppp commented on #74
Summary: In this issue we updated descriptive files for the upcoming release, xtevent 2.1.0

[2022-08-01 23:25] #74 closed

[2022-08-01 23:43] jorpppp opened #78 "Upload v 2.1.0 to SSC"
xtevent 2.1.0 is now live on Github.

To bring to SSC I'll email Kit Baum. @Constantino-Carreto-Romero @rayhuang11 Do you have a copy of the email to Kit Baum about v 2.0.0? If so, do you think you can forward it to me? There's a gap in my email archive :(

[2022-08-01 23:54] Constantino-Carreto-Romero commented on #78
@jorpppp I'm sorry, I don't remember receiving a copy of that email. Just in case, I have looked for it but it seems I didn't receive it.

[2022-08-01 23:58] jorpppp commented on #78
Ok, thanks @Constantino-Carreto-Romero

[2022-08-02 14:29] jorpppp opened #79 "Reference Github repo in helpfiles"
I realized that we are not referencing the Github repo in the Stata helpfiles. This would be a good addition for the next release.

@rayhuang11 can you please take a look at the helpfiles (and any other release files) and make sure we reference the Github repo in them?

[2022-08-03 16:22] jorpppp commented on #78
I sent the email to SSC.

[2022-08-03 18:24] Constantino-Carreto-Romero commented on #70
Now endpoints are excluded in the plot if trend adjustment is specified. The problem showed up because endpoint exclusion was happening only if suboption `saveoverlay` was specified, but it should happen as long as the `trend` option is specified. I also ran the test file to check if the changes caused any problems.

[2022-08-03 20:24] rayhuang11 commented on #79
Summary: we added a reference to the GitHub to the Stata help files.

[2022-08-03 20:24] #79 closed

[2022-08-03 20:25] rayhuang11 commented on #78
@jorpppp sorry for the late reply! I don't have any prior emails with Kit. Thanks.

[2022-08-03 20:32] jorpppp commented on #70
Summary: In this issue we checked a bug with displaying the endpoints with the `trend` option,

Thread continues in #80

[2022-08-03 20:34] #70 closed

[2022-08-04 18:36] jorpppp commented on #59
@Constantino-Carreto-Romero I created an issue folder and uploaded the dataset creation and estimation dofiles.

I don't think the approach you were following was correct, because you were not collapsing the dataset at the state-time level in the second step. That said, I am not getting the same coefficients now. I think an issue may be that the cells are too small: Hansen(2007) states that for th

[2022-08-04 19:17] Constantino-Carreto-Romero commented on #59
@jorpppp Sure thing.
Thanks for the corrections.

[2022-08-05 14:08] Constantino-Carreto-Romero commented on #35
I saw this [event study plot](https://twitter.com/Roxanagutz/status/1527690694801899521) on twitter. The plot was created using the [did_imputation stata package](https://github.com/borusyak/did_imputation), which includes a function to plot several models (it could be of interest to issue #7). For the creation of that plot, the did_imputation package doesn't embed Sun and Abraham, but the user se

[2022-08-05 16:00] rayhuang11 commented on #35
@jorpppp @Constantino-Carreto-Romero

[Here ](https://github.com/lsun20/EventStudyInteract)is the Stata package produced by Sun and Abraham to accompany their paper.

[2022-08-05 16:14] rayhuang11 commented on #7
No updates from @rayhuang11 for this week.

[2022-08-05 16:27] Constantino-Carreto-Romero commented on #59
I have increased the number of observations per state-time cell in the repeated cross-sectional dataset. As before, I grouped units in the [example dataset](https://github.com/JMSLab/xtevent/blob/main/test/example31.dta) by treatment time, e.g. cohort 4 are units treated in time=4, etc. One inconvenient is that the cohort of never treated units represents a large part of the dataset (approx 68%),

[2022-08-05 16:37] jorpppp commented on #7
Per this comment, there's a function in the did_imputation package that we may want to look at:

https://github.com/JMSLab/xtevent/issues/35#issuecomment-1206498863

[2022-08-05 16:48] jorpppp commented on #35
We are going to proceed in two steps:

1. We are going to estimate a basic event study using the EventStudyIntereact package and the example in our test file. That will help us understand how EventStudyInteract works. @rayhuang11 can work on this.
2. We are going to embed an `xtevent' estimation into the cohort loops that EventStudyInteract has. We'll work on this after completing 1.

[2022-08-05 17:02] jorpppp commented on #35
Also look at https://github.com/JMSLab/EventStudy/blob/master/analysis/source/lib/stata/heterogeneous/sun_abraham.ado

[2022-08-05 17:09] jorpppp commented on #59
@jorpppp  will look for the code that created the example data and upload it to the issue folder.
After that @Constantino-Carreto-Romero will create a larger example dataset with larger numbers of obs per state-time cell and test the estimation again.

@jorpppp will think about whether it's worth doing this or just embedding the event-time dummy generation in xtevent for non xtset-able datasets.

[2022-08-05 17:14] jorpppp commented on #59
@Constantino-Carreto-Romero will also test the relative performance of the full estimator vs. the gls on the state-time dataset with a large dataset.

[2022-08-05 17:18] jorpppp commented on #23
@Constantino-Carreto-Romero  will work on this, seems quite easy. We'll want something akin to a `noestimate` option.

[2022-08-05 17:21] jorpppp commented on #68
@veli-m-andirin this is a bug that you pointed out and we fixed.

[2022-08-05 17:21] jorpppp commented on #69
@veli-m-andirin this an issue you pointed out.

[2022-08-05 17:26] jorpppp commented on #59
@Constantino-Carreto-Romero I uploaded the data generation dofile.

[2022-08-06 00:38] veli-m-andirin commented on #69
Thanks @jorpppp. On https://github.com/JMSLab/xtevent/issues/69#issuecomment-1206678699: Could you please clarify if this was a question?

[2022-08-06 16:18] jorpppp commented on #69
Yes @veli-m-andirin, we were just letting you know that these issues had been resolved. Thanks again for pointing them out!

[2022-08-08 19:41] rayhuang11 commented on #7
https://github.com/JMSLab/xtevent/issues/35#issuecomment-1206498863

The `did_imputation` package uses `event_plot.ado` to plot up to 8 models in the same graph. Here is the example from their repo:
![five_estimators_example](https://user-images.githubusercontent.com/106756436/183499543-a5c6c1c2-5588-45a3-bd0b-d4fb5732e530.png)

The offset here is using the default distance which is not user speci

[2022-08-09 17:34] jorpppp commented on #78
The new release is now up on SSC. Statalist and Twitter announcements are pending.

[2022-08-09 17:38] jorpppp commented on #78
The announcements will be up after we update the version info here. I'll go ahead and close and merge.

[2022-08-09 17:40] jorpppp commented on #78
Summary: In this issue we tracked updates to -xtevent- on SSC following the 2.1.0 release.

[2022-08-09 17:45] jorpppp commented on #78
Link to Twitter announcement: https://twitter.com/jorpppp/status/1557059501903298560
Link to Statalist announcement: https://www.statalist.org/forums/forum/general-stata-discussion/general/1677065-xtevent-stata-module-to-estimate-and-visualize-linear-panel-event-study-models-updated-on-ssc

[2022-08-09 17:52] #78 closed

[2022-08-09 19:37] Constantino-Carreto-Romero commented on #59
I have compared the estimation time of the full estimator vs the two-step approach using the 2 million observations dataset. I estimated both models 10 times:
![1](https://user-images.githubusercontent.com/36095845/183744541-d4b31ee9-168e-44d6-8c75-30f375d490a8.png)
on average, the estimation of the full estimator took 2.8 seconds, while the two-step approach took 39.8 seconds. In the case of the

[2022-08-10 00:10] Constantino-Carreto-Romero commented on #23
@jorpppp There already exists the option `savek(stub)` that saves the evet-time dummies after estimating the model. This option would be related to the option `noestimate`, both options save the event-time dummies, the only difference is if the model is estimated. I was thinking of rather implementing `noestimate` as a suboption embeded in `savek`, and the default behavior for `savek` would be to

[2022-08-10 17:33] Constantino-Carreto-Romero opened #84 "Some examples in the help file not working"
On August 9, 2022, a user reported that some examples in the help file show message errors. The problem arises because those examples were not updated to account for the `impute` option implemented in version 2.0.0.

[2022-08-10 19:38] rayhuang11 commented on #7
Current approach:

Taking inspiration from `event_plot.ado` from the `did_imputation` package, we can adapt `xteventplot` so that when we use `xteventplot` the way we have been doing so all along, everything stays the same (i.e. calling `xtevent` then `xteventplot`.

However, if the user specifies `xteventplot model1 model2 model3..., options` `xteventplot` will graph the several models together.

[2022-08-10 23:37] Constantino-Carreto-Romero commented on #84
@jorpppp I have corrected the problematic examples in `xtevent`'s help file to consider the `impute` option. In all those examples, I had to add `impute(nuchange)`. I had to correct examples in `xteventplot` as well. In the case of `xteventtest`, it did not include any example, so I added some of them. I also added click functionality to the examples, this helped me verify easily that they ran cor

[2022-08-11 00:15] jorpppp commented on #84
Looks good, thanks @Constantino-Carreto-Romero.

[2022-08-11 00:44] Constantino-Carreto-Romero commented on #84
@jorpppp I have added some examples from the updated help files to the readme file.

[2022-08-11 00:46] jorpppp commented on #84
Great, thanks @Constantino-Carreto-Romero. Can you start a PR with me as reviewer, please?

[2022-08-11 01:06] jorpppp commented on #23
@Constantino-Carreto-Romero, yes, sounds good.

[2022-08-11 15:35] #84 closed

[2022-08-11 15:44] jorpppp opened #86 "New release"
We should make a new release with the updates from #84 and #85, since the examples in the helpfile from 2.1.0 may confuse many users.

- [x] @Constantino-Carreto-Romero , what should be the new version number?
- [x] @Constantino-Carreto-Romero and @rayhuang11 can you test that the examples from the readme and the helpfile, and the test file are working, please?
- [x] @Constantino-Carreto-Romero ca

[2022-08-11 16:27] Constantino-Carreto-Romero commented on #86
@jorpppp after v2.1.0 we have not implemented new features and we have only resolved bugs (issue #70) and changed the documentation (issues #79 and #84), so the version would be 2.1.1.
[Source](https://www.geeksforgeeks.org/introduction-semantic-versioning/).

[2022-08-11 19:10] jorpppp commented on #59
@jmshapir @chansen776 Perhaps it's time to ask you to weigh in here.

@Constantino-Carreto-Romero tested two approaches with non xtset-able data (e.g. a repeated cross section of individuals over time, with the policy variable varying by state)

1. Generate event-time dummies manually, estimate the panel event study equation by OLS on the full data.
2- Use the trick from @chansen776 's paper: regr

[2022-08-11 19:14] jorpppp opened #87 "Animation for Github readme"
I think it would be cool to have an animation like this one in our Github home page:

https://www.statalist.org/forums/forum/general-stata-discussion/general/1627508-xtevent-stata-module-to-estimate-and-visualize-linear-panel-event-study-models-now-available-on-ssc

@rayhuang11 @Constantino-Carreto-Romero what do you think?

If you like the idea, @rayhuang11 can you look into how to include an ani

[2022-08-11 19:16] jorpppp opened #88 "Link youtube channel from Github readme"
We should have a link to our channel on panel event studies in our Github readme.

https://www.youtube.com/watch?v=hOIB3PwntYg

@rayhuang11 can you look into adding this, please?

[2022-08-11 19:32] Constantino-Carreto-Romero commented on #86
@jorpppp I have updated version statements, indicating Aug 11, 2022, as the release date.
I added to the acknowledgments all the users who have found bugs or recommended some feature that was implemented.

[2022-08-11 19:35] jorpppp commented on #86
Looks good, thanks @Constantino-Carreto-Romero. Once @rayhuang11 and you conclude testing we can start a PR.

[2022-08-11 19:50] Constantino-Carreto-Romero commented on #86
@jorpppp I have executed the examples from the readme, the help files, and the test file, and they ran correctly.

[2022-08-11 20:48] jmshapir commented on #59
@jorpppp @Constantino-Carreto-Romero thanks!

Let's let $i$ be the unit at which the policy is determined, $t$ the time at which the policy is determined, and $j$ a lower-level unit at which we may potentially measure control variables.

If we want to enable this kind of use case, my preferred approach is to implement as follows:
* Build a function called (loosely) `get_unit_time_effects` that tak

[2022-08-11 20:50] rayhuang11 commented on #88
Summary: linked YouTube channel main page to GitHub's `readme`.

[2022-08-11 20:50] #88 closed

[2022-08-11 20:52] rayhuang11 commented on #87
@jorpppp the animation seems to be saved as a gif file?

My thoughts are it could be helpful to have, and it might make usage easier for some users. The argument it against it is that it takes a lot of space and the current readme is already quite clear.

If we decide to proceed, I can look deeper into this. For now, I'm assuming the animation on statalist is in gif format. If so, we can easily in

[2022-08-11 21:11] rayhuang11 commented on #86
@jorpppp @Constantino-Carreto-Romero everything ran correctly for as well. I think we can start a PR. Thanks!

[2022-08-11 21:35] #86 closed

[2022-08-11 21:42] Constantino-Carreto-Romero commented on #87
I think the animation could be useful to catch the attention of the users, but in what part of the readme should it be placed? maybe somewhere before or after the examples.

[2022-08-11 22:51] rayhuang11 commented on #87
@Constantino-Carreto-Romero since it's kinda bulky, I was thinking the end of the readme?

[2022-08-12 00:00] Constantino-Carreto-Romero commented on #87
@rayhuang11 I agree, it would be good to place it there

[2022-08-12 14:56] rayhuang11 commented on #7
@Constantino-Carreto-Romero thanks for the help yesterday!

For today's meeting, we should go over my plan to adapt `xteventplot.ado` to allow for the plotting of multiple models in https://github.com/JMSLab/xtevent/commit/762be427653d800e34ccfd88d4ddd443d7a89d3c.

What options will be incompatible with multiple models? e.g. I don't think we should allow p-values to be displayed.

[2022-08-12 15:05] izmartinez commented on #7
Thank you all for your work and service to the research community!

I'm working on a new project where we'll use event studies, too, and I'm already looking forward to these new features you're adding.

[2022-08-12 16:19] Constantino-Carreto-Romero commented on #23
@jorpppp I have implemented the suboption `noestimate`. I tested its functionality with some code of my own and I also ran the test file to check if something was broken.
Some examples could be testes running the following:
[code]

If this branch is merged before the release, the release version should be 2.2.0,

[2022-08-12 17:16] jorpppp commented on #7
@rayhuang11 I think the pseudocode here is the proper way to go. Some thought about how to handle `xteventplot` options per call today:

- Options `noci`, `nosupt`, `scatterplotopts`, `suptplotopts`, `ciplotopts`, and `suptreps` should work as repeated options, as in the following syntax: `xteventplot model1 model2, ci(ci noci) supt(supt nosupt) scatterplotopts(mcolor(red green))`
- Options  `noze

[2022-08-12 17:18] jorpppp commented on #23
@Constantino-Carreto-Romero thanks, we won't release this yet, let me test it first.

[2022-08-12 17:21] jorpppp commented on #35
@jorpppp  will check @rayhuang11 's example and then he'll figure out how to implement the 2nd step from https://github.com/JMSLab/xtevent/issues/35#issuecomment-1206652929 before handing it off to @Constantino-Carreto-Romero and @rayhuang11  again.

[2022-08-12 17:29] jorpppp commented on #87
@jorpppp  will look in his computer to see how he made the animation and post it here for @rayhuang11 to follow up. Maybe there's a better way, or maybe that way will work. Then @rayhuang11  will record a new, smaller animation that we can place at the end of the readme.md file.

[2022-08-12 17:37] jorpppp commented on #67
@Constantino-Carreto-Romero will read the reference and will look into the `regife` command. He'll also post relevant references for IFE here.

@SimonFreyaldenhoven any recommendation for what we should read here?

[2022-08-12 17:59] Constantino-Carreto-Romero opened #91 "preparations for release v2.1.1"
Update the release date in the ado files.
Update the readme, pkg and release.txt files.

[2022-08-12 18:57] SimonFreyaldenhoven commented on #67
@jorpppp Starting with the documentation of the ```regife``` command seems like a god starting point. I took a quick look and it has a few additional references therein (both theoretical, e.g. the original [Bai (2009)](https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA6135) paper, but also some applications which may be easier to read).

Another thing that might be worth taking a look at at the

[2022-08-12 19:05] Constantino-Carreto-Romero commented on #91
@jorpppp I have updated the release date in the ado, help, pkg, and release files. I updated the readme and release files with the changes for the new version, as well.

[2022-08-12 19:31] #91 closed

[2022-08-12 23:36] jorpppp commented on #23
@Constantino-Carreto-Romero Thanks for this. I left some comments in https://github.com/JMSLab/xtevent/commit/513bee1e1ab4ad4d53d4b07fd926c76966cda789 for you to check, please.

[2022-08-15 19:56] jorpppp commented on #23
@Constantino-Carreto-Romero I checked the answers to my comments, thanks. Can you add examples to the test file and the help files, please, and re-run the examples in the helpfiles and the test file to make sure nothing broke, please?

After that, we can start a PR.

[2022-08-15 20:44] jorpppp opened #93 "Read about Stata's new native DD commands"
Per @SimonFreyaldenhoven 's suggestion,  we should take a look at the new DD features in Stata 17:

https://www.stata.com/new-in-stata/difference-in-differences-DID-DDD/

[2022-08-15 21:03] Constantino-Carreto-Romero commented on #23
@jorpppp I left an extra comment in https://github.com/JMSLab/xtevent/commit/513bee1e1ab4ad4d53d4b07fd926c76966cda789#r81256048 if you are fine with no changing what I mentioned on that comment I will start the PR after adding the examples. Thanks

[2022-08-15 23:33] Constantino-Carreto-Romero commented on #23
@jorpppp I modified the example of `savek(stub)` to an example of `savek(stub, noestimate)` in the help file in commit https://github.com/JMSLab/xtevent/commit/d2d4c81e4866dfc63411b6aba3329cda93d93e8d.
There were a couple of code lines to which I had not implemented the click functionality in issue #84  because they contained a colon and this was problematic, but I already found a way to make them

[2022-08-16 02:53] jorpppp commented on #23
Thanks @Constantino-Carreto-Romero, I'll start a PR and review.

[2022-08-17 16:23] jorpppp opened #95 "Wild cluster bootstrap"
Add the option to calculate confidence intervals and plots using a wild cluster bootstrap, for cases when there is a small number of clusters.

Note that this is already possible using a workaround: Generate the event-time dummies, estimate again and use `boottest`:

[code]

After we finish #94, we may be able to do the event-time dummie generation without estimating, saving time. Still, we may wa

[2022-08-18 16:53] Constantino-Carreto-Romero commented on #67
@jorpppp  I have read [Gobillon and Magnac, 2016](https://direct.mit.edu/rest/article-abstract/98/3/535/58348/Regional-Policy-Evaluation-Interactive-Fixed?redirectedFrom=fulltext). I haven't explored the `regife` command yet.
In the [github repository](https://github.com/matthieugomez/regife) of the `regife` command, there is the following list of papers using IFE:
- [Eberhardt, Helmers, Strauss (

[2022-08-18 17:11] jorpppp commented on #35
Per call: @Constantino-Carreto-Romero will check this: https://github.com/JMSLab/xtevent/issues/35#issuecomment-1213344734

[2022-08-18 17:12] jorpppp commented on #59
@chansen776 : @jmshapir and I discussed this in the last call. We see pros and cons of both estimation options but we wanted to see what you think.

[2022-08-18 17:14] jorpppp commented on #67
Thanks for the references @Constantino-Carreto-Romero . I think after Gobillon and Magnac, the best paper to look into would be the original Bai (2009).

[2022-08-18 18:06] chansen776 commented on #59
@jorpppp @jmshapir Sorry I missed the call. I agree there are pros and cons to both approaches and thus I don't actually have strong opinions on the matter.

I suppose I have a weak preference for the two-step approach because I think it highlights the level of variation where identification is coming from. I also agree with @jmshapir that doing FGLS in the second step is probably not a great defa

[2022-08-18 19:15] jmshapir commented on #59
Thanks @chansen776!

@jorpppp what would you think about building both approaches? Then user would have a choice, and we could perhaps briefly discuss the tradeoffs in the upcoming writeup.

[2022-08-18 23:23] #23 closed

[2022-08-18 23:24] jorpppp commented on #23
Summary: In this issue we enabled an option to save event-time dummies without estimating. PR was #94.

[2022-08-24 03:26] Constantino-Carreto-Romero commented on #35
@jorpppp  I have checked @rayhuang11's example and everything looks fine to me. It also helped me understand better the estimation steps, thanks. I'm going to start working on the second point from https://github.com/JMSLab/xtevent/issues/35#issuecomment-1206652929

[2022-08-24 13:11] rayhuang11 opened #96 "Typo in xteventplot help file"
P-value is misspelled as p-vale.

[2022-08-24 13:15] rayhuang11 commented on #96
Summary: fixed typo in xteventplot help file.

[2022-08-24 13:15] #96 closed

[2022-08-25 21:32] rayhuang11 commented on #7
### Status update

Thanks @Constantino-Carreto-Romero for the help!

As of https://github.com/JMSLab/xtevent/commit/06ea48f05cfc09ec6a10328aedc9e08230bead43, `xteventplot` can now plot multiple models without the offset. Currently, we require that the normalized coefficient be the same for all the models.

All the disabled options requested in https://github.com/JMSLab/xtevent/issues/7#issuecommen

[2022-08-26 03:47] Constantino-Carreto-Romero commented on #35
I have checked https://github.com/JMSLab/xtevent/issues/35#issuecomment-1206663995. It is a program to estimate SA's estimator. Based on the comments in that program that describe its syntax, I estimated the example in https://github.com/JMSLab/xtevent/commit/54146593c330bf997d2b40743329e0431b77a2ca using both [sun_abraham.ado](https://github.com/JMSLab/EventStudy/blob/master/analysis/source/lib/s

[2022-08-26 15:38] rayhuang11 opened #98 "Fix diffavg in help file"
Currently, the abbreviation for `diffavg` is not noted in the help file. Also, the examples in `test.do` seem to be missing.

[2022-08-28 23:31] rayhuang11 commented on #98
Summary: fixed the `xtevent` help file to show the abbreviation for the `diffavg` command.

[2022-08-28 23:32] #98 closed

[2022-08-30 17:19] jorpppp commented on #35
Thanks @Constantino-Carreto-Romero, we'll talk about this in today's call.

[2022-08-30 17:20] jorpppp commented on #59
@chansen776 @jorpppp Sounds good! We'll work with @Constantino-Carreto-Romero to implement both approaches.

[2022-08-30 21:05] jorpppp commented on #67
We are still reading.

[2022-08-30 21:07] jorpppp opened #100 "Add option to suppress endpoints from the graph"
From https://github.com/JMSLab/EventStudyPackage/issues/6#issuecomment-1226599594, we'd like to add an option to suppress endpoints from the graph.

[2022-08-30 21:08] jorpppp opened #101 "Add option to keep only balanced units"
From https://github.com/JMSLab/EventStudyPackage/issues/6#issuecomment-1226599594, we want to add an option to estimate only with balanced units.

[2022-08-30 21:09] jorpppp commented on #101
Also from https://github.com/JMSLab/EventStudyPackage/issues/6#issuecomment-1226599594, we may add an option to show only the coefficients for event-times that are "balanced". First, we'd need to be able to tag these event-times.

[2022-08-30 21:12] jorpppp opened #102 "Plot selected event-times"
From https://github.com/JMSLab/EventStudyPackage/issues/6#issuecomment-1226599594. we want to enable plotting of selected event-times in `xteventplot`

[2022-08-30 21:26] jorpppp opened #103 "Emphasize -impute- option"
We have received a few questions about the `impute` option in `xtevent` 2.0.0. I think we need to make this change more visible.

@Constantino-Carreto-Romero will:

- Add a short paragraph about impute in the home screen (about.md) (Do this on a branch)
- Create a short markdown describing imputation details. We'll eventually add a link to these from the home screen. (Do this on an issue folder, w

[2022-08-31 00:10] jorpppp commented on #59
@Constantino-Carreto-Romero An additional thought here: While implementing the first approach, you could set this up such that we can also generate event-time dummies for coarser time aggregations, even if data can be xtset at a finer time aggregation. For example, we may want to use monthly event-time dummies with a daily dataset.

[2022-09-05 19:16] jorpppp commented on #7
Thanks @rayhuang11. Per today's call:

- We'll work on making the `ci` syntax more intuitive. For one model, the `noci` option should work. You should not need to write anything else. For many models, the syntax should be `ci(#)` where # is a list of the models where you want the cis active. So, if you write `ci(1 2)`then only the confidence intervals for models 1 and 2 out of the plotted models a

[2022-09-05 19:30] jorpppp commented on #7
There should be some entry about repeated options in the manual section for `syntax`

[2022-09-05 19:38] jorpppp commented on #35
In last week's call, we agreed that we would look more into the differences between `eventstudyinteract` and `sun_abraham`. I think the approach in `eventstudyinteract`may be what we want to follow, just because it seems to be a more recent implementation. In any case, @Constantino-Carreto-Romero  will look at detailed output from both commands (using `trace`) and see if there are differences at t

[2022-09-05 19:38] jorpppp commented on #59
@Constantino-Carreto-Romero is still working on this.

[2022-09-05 19:40] jorpppp commented on #67
We are still reading, here's a checklist to track progress and force ourselves to finish.

@jorpppp

- [ ] Gobillon and Magnac
- [ ] Bai and Perron
- [ ] Common Correlated Effects

@Constantino-Carreto-Romero
- [ ] Gobillon and Magnac
- [ ] Bai and Perron
- [ ] Common Correlated Effects

[2022-09-05 19:41] jorpppp commented on #87
This is not a first priority so I'll unassign myself from now.

[2022-09-05 19:41] jorpppp commented on #93
@jorpppp  still working on this.

[2022-09-05 19:42] jorpppp commented on #103
@Constantino-Carreto-Romero still working on this.

[2022-09-07 21:24] rayhuang11 commented on #7
## Final status update

For the final state of the code, please see the `issue7_xteventplot_test.ado` file under the `issue_7 folder`.

What works:

- Currently, `xteventplot` is limited to plotting 6 models. This can be easily adjusted around line 50.
- Options `noci`, and `nosupt` work as repeated options, as in the following syntax: `xteventplot model1 model2, ci(ci noci) supt(supt nosupt)
- Op

[2022-09-08 15:38] jorpppp commented on #7
Thank you @rayhuang11 ! There's been a lot of progress in this issue. @Constantino-Carreto-Romero and I can finish this up. We'll let you know if there are any questions.

[2022-09-09 20:31] Constantino-Carreto-Romero commented on #59
@jorpppp I have implemented the first approach out of the two approaches in https://github.com/JMSLab/xtevent/issues/59#issuecomment-1212384019. I made some progress on the second approach, but still working on it.
I have some questions:
- in a state-time cell all observations must have the same policy value. What to do if there is at least one observation with a different value?
- How to handle m

[2022-09-09 20:38] jorpppp commented on #35
@Constantino-Carreto-Romero is still working on this.

[2022-09-09 20:59] jorpppp commented on #59
Thanks @Constantino-Carreto-Romero , here are some answers:

- If the policy variable value is not constant within panelvar-timevar cell, we should return an error message.
- We should have a warning when there are missing values of the policyvar inside a panelvar-timevar cell, and then just ignore them (do not drop them or do anything, Stata should handle this automatically by dropping the obs fr

[2022-09-09 21:03] jmshapir commented on #59
Thanks @Constantino-Carreto-Romero @jorpppp!

For the [second approach](https://github.com/JMSLab/xtevent/issues/59#issuecomment-1212384019), how about if we try an implementation like the one I sketched in https://github.com/JMSLab/xtevent/issues/59#issuecomment-1212478275, so that we write a function that handles the change in "level" of the outcome variable, and leave the rest (including the de

[2022-09-09 21:13] jorpppp commented on #59
I am getting mixed up with the first and second approach, or one or two step approach here. So let me call the approaches, the "Jesse" approach and the "Constantino" approach.

- For the Jesse approach, we first regress the dependent variable on state-time dummies and individual-level controls, and then we run `xtevent` with the estimate state-time dummy coefficients as dependent variables. For th

[2022-09-09 21:14] jorpppp commented on #103
@Constantino-Carreto-Romero still working on this.

[2022-09-09 21:16] jorpppp opened #104 "Check vce vs. cluster for IV estimation without reghdfe."

[2022-09-12 20:31] Constantino-Carreto-Romero commented on #59
@jorpppp thanks!
On the following,

While implementing the generation of that variable, I had the sense that this could be left to the user. What do you say?

[2022-09-12 20:42] jorpppp commented on #59
Yes, I don't think us generating that variable is essential.

[2022-09-12 20:43] jorpppp opened #105 "Check possible issue with -nozeroline- and coefficient formatting options"
It seems like the -nozeroline- and coefficient formatting options may have been disabled in the last release. @Constantino-Carreto-Romero can you check if this is the case, please?

[2022-09-13 22:08] jorpppp commented on #105
@Constantino-Carreto-Romero Did you manage to check anything about this bug?

[2022-09-13 22:36] Constantino-Carreto-Romero commented on #105
@jorpppp I have not reviewed it, but I will do it today. I'm just preparing to upload the preliminary files for issue #59, so I can review issue #105 today.

[2022-09-14 02:56] Constantino-Carreto-Romero commented on #105
@jorpppp I checked `xteventplot`'s appearance options and the ones not working were `nozeroline` and `nominus1label`. In https://github.com/JMSLab/xtevent/commit/530cff4c01ceaff320440b99da8281452d3f9c5d I fixed it.
These are examples to verify that they now work:
[code]

[2022-09-14 17:55] Constantino-Carreto-Romero commented on #59
@jorpppp  I have made some additions and corrections to the first approach (Constantino approach) and I have implemented the second approach (Jesse approach):
- In https://github.com/JMSLab/xtevent/commit/772e915d44c264ec66b87e43b7a4a71dffa00b31 I made some corrections to the first delivery in https://github.com/JMSLab/xtevent/commit/664cbfe8ee0dee392cb4b493b24d35a719b1da40 and I also implemented

[2022-09-15 21:16] jorpppp commented on #105
Summary: In this Issue we fixed bugs related to some graph elements.
Thread continues in #106

[2022-09-15 21:19] jorpppp commented on #59
Thanks @Constantino-Carreto-Romero. Let me test these and I'll get back to you on the last question.

[2022-09-16 00:17] #105 closed

[2022-09-17 22:26] Constantino-Carreto-Romero commented on #104
This issue is related to issue #12. There, I only solved for the case when the user indicates IV estimation and the option `reghdfe`. In that setting, `xtevent` uses the estimation command `ivreghdfe`, which does not allow the use of `vce`.

In the IV setting without the option `reghdfe`, `xtevent` uses the estimation commands `xtivreg` (the default) or `ivregress` (if the user specifies the optio

[2022-09-19 00:02] Constantino-Carreto-Romero commented on #104
@jorpppp in https://github.com/JMSLab/xtevent/commit/c4dccbd9606977161d197d5af27877ae14ef309e I added some code so now the options `cluster()` and `robust` can be specified in the IV setting when option `reghdfe` is not specified.

These are some examples to check it:
[code]

[2022-09-20 22:24] Constantino-Carreto-Romero commented on #35
@jorpppp  I have explored the code in both [sun_abraham.ado](https://github.com/JMSLab/EventStudy/blob/master/analysis/source/lib/stata/heterogeneous/sun_abraham.ado) and [EventStudyInteract](https://github.com/lsun20/EventStudyInteract). I noticed many differences in the steps taken to estimate both the interacted regression and the cohort shares. However, they seem equivalent. Then, I looked at

[2022-09-20 22:59] jorpppp commented on #7
Pending, @jorpppp  has to check.

[2022-09-20 23:09] jorpppp commented on #59
Pending.

[2022-09-21 01:01] Constantino-Carreto-Romero commented on #35
Per call: @Constantino-Carreto-Romero will check the endpoint imputation in `sun_abaraham` and `EventStudyInteract` which could explain the differences in outputs in https://github.com/JMSLab/xtevent/issues/35#issuecomment-1252979027.

[2022-09-21 23:32] Constantino-Carreto-Romero commented on #35
@jorpppp  In https://github.com/JMSLab/xtevent/commit/fb8b34bd2f88bc1afd0588f4bf260113f4ae0e4e I re-estimated the example in https://github.com/JMSLab/xtevent/issues/35#issuecomment-1228020467, using the [example31](https://github.com/JMSLab/xtevent/blob/main/test/example31.dta) dataset and a window of (-3,4), plus the endpoints.

[sun_abraham.ado](https://github.com/JMSLab/EventStudy/blob/master/

[2022-09-22 00:15] jorpppp commented on #35
Thanks @Constantino-Carreto-Romero. I am glad that we found the source of the discrepancy. I am not concerned about these small differences in standard errors at this point.

We should go ahead and embed `xtevent` estimation inside EventStudyInteract. From our conversation, I would start by creating a `_eventsunabraham` command that is analogous to EventStudyInteract but estimates inside each loop

[2022-09-22 15:19] Constantino-Carreto-Romero commented on #35
Great, I will start working on it.

[2022-09-27 17:54] Constantino-Carreto-Romero commented on #35
I had some difficulties while trying to implement https://github.com/JMSLab/xtevent/issues/35#issuecomment-1254356406:

- We would like to replace the [regression step in EventStudyInteract ](https://github.com/lsun20/EventStudyInteract/blob/ca9a86bc7af94cf65dd1ac69fa734af382c37090/eventstudyinteract.ado#L85) with a call to `_eventols`. Nonetheless, the results brought by `_eventols` would be diff

[2022-09-27 22:14] jorpppp commented on #35
@Constantino-Carreto-Romero  I understand the limitations now and this plan looks good. My only comment is that the creation of the interactions between the event-time dummies and the cohort indicators should happen inside `event_genvars`.

[2022-09-27 22:16] jorpppp commented on #103
Pending.

[2022-09-28 17:22] #104 closed

[2022-09-28 19:46] ew487 opened #108 "Add warning for -xtivreg, fe vce(robust)-"
In this issue, we want to add a warning to `xtevent` in the case of IV regression with fixed effects and option `vce(robust)`. In this case, the underlying command `xtivreg` uses cluster robust standard errors, i.e. the output is the same as if option `vce(cluster id)` was used instead. This is a deliberate feature of `xtivreg` that it is not possible to report non-cluster robust errors when `fe`

[2022-09-28 19:50] ew487 commented on #108
Example 1:
![image](https://user-images.githubusercontent.com/108754119/192875314-9772a76b-bef6-4bbe-bd71-3dc2e27c0101.png)

Example 2:
![image](https://user-images.githubusercontent.com/108754119/192875417-558b01d2-2e82-4d4d-94cf-5166f0ea1482.png)

[2022-09-28 23:07] jorpppp opened #109 "xtevent 2.2.0"
In this issue we'll update documentation for a new release.

- [x] Update home page
- [x] Update version statements in ado files
- [x] Check examples in home page
- [x] Check examples in test file and run
- [x] Reread help files
- [x] Check examples in help files and run
- [x] Check that help files display properly
- [x] Update acknowledgements
- [x] Update install.txt and release.txt

[2022-09-29 00:16] jorpppp commented on #109
@Constantino-Carreto-Romero The two last examples from the home page are not great, because it turns out that the post-event coefficients are ommitted. I am unsure if this expected behavior. Many observations are dropped when compared to the OLS estimates. Can you check this, please?

[2022-09-29 00:40] jorpppp commented on #109
@Constantino-Carreto-Romero After digging deeper, I think I caught a bug and a possible enhancement here.

When `_eventiv` selects the lead of the differenced policy to use as an instrument, it does not check if there are missing values of the instrument. In short windows, the lead of the differenced policy may be missing for higher order leads, so comparing F-stats across regressions will be misl

[2022-09-29 20:47] Constantino-Carreto-Romero commented on #109
I got it, I think the [regression loop](https://github.com/JMSLab/xtevent/blob/2f3c053dc249437c7f05bcc6be732c16fde124cf/xtevent/_eventiv.ado#L95) should start with the greatest lead, then mark the sample, and then run the rest of the regressions in the loop with the same sample.

Ok, I will implement that check with `_rmcoll`.

Ok, I'll start working on the examples and open the issues.

[2022-09-29 21:22] Constantino-Carreto-Romero opened #110 "Take into account missing values in the check of the strongest lead"
When `_eventiv` selects the lead of the differenced policy to use as an instrument, it does not check if there are missing values of the instrument. In short windows, the lead of the differenced policy may be missing for higher order leads, so comparing F-stats across regressions will be misleading.

Make sure that regressions in the loop take into account possible missing values of the instrument

[2022-09-29 22:29] Constantino-Carreto-Romero opened #111 "drop of collinear variables in the IV's check of collinearity"
When _eventiv checks for collinearity between the IV and the event-time dummies, it does so by regressing the IV on the dummies and checking if r2 is 1. This is not a good way of doing this, because Stata will drop collinear variables. We should be doing this with _rmcoll.

Derived from #109 https://github.com/JMSLab/xtevent/issues/109#issuecomment-1261608505

[2022-09-30 03:37] Constantino-Carreto-Romero commented on #35
in https://github.com/JMSLab/xtevent/commit/e1d2b215cadeec2e5e3d793ab698889bb2ccb8bf I embedded the `EventStudyInteract`'s code into `_eventols` following the proposed outline in https://github.com/JMSLab/xtevent/issues/35#issuecomment-1259854845

`xtevent` produces the same results as `EventStudyInteract`. For instance, running the following with `xtevent`:
[code]
produces the following [output](

[2022-09-30 21:46] Constantino-Carreto-Romero commented on #111
in https://github.com/JMSLab/xtevent/commit/96553b715868f59a0decde30d74509c20889e288 I changed the collinearity check, so it is now performed with `_rmcoll`.
These are some examples to check it:

[code]

[2022-09-30 22:10] Constantino-Carreto-Romero opened #113 "examples without collinearity issues"
Change the examples on the homepage, so they don't have collinearity issues

[2022-09-30 22:44] Constantino-Carreto-Romero opened #114 "invalid syntax error when specifying a variable as proxyiv"
In the IV setting, when specifying a variable as `proxyiv`, it produces an invalid syntax error. For instance:
[code]

[2022-09-30 23:25] jorpppp commented on #114
@Constantino-Carreto-Romero This used to work, maybe some of the changes to the parser broke something? Or is this a bug on the latest published version?

Also, shouldn't this show up when running the test file? Why did we miss it?

[2022-09-30 23:47] Constantino-Carreto-Romero commented on #114
@jorpppp I executed it with xtevent 1.0.0 and it showed up the same error. In the test file, all the cases that use a variable as `proxyiv`, use a collinear variable, so the collinearity error showed first (this expected error is muted in the test file, so it doesn't stop the execution). However, in the test file, there is not an example with a non-collinear variable, so this error doesn't show up

[2022-10-04 20:28] jorpppp commented on #110
Per call, we won't modify this code to select the strongest lead. We'll keep using the current code that chooses the strongest lead regardless of changes in sample across the first stage regressions.

[2022-10-04 20:28] #110 closed

[2022-10-04 20:32] #111 closed

[2022-10-04 20:32] jorpppp commented on #114
@Constantino-Carreto-Romero Now that #111 is closed, can you take a closer look at this, please?

[2022-10-04 20:36] Constantino-Carreto-Romero commented on #114
@jorpppp sure thing, I already started to check it.

[2022-10-04 20:38] jorpppp commented on #35
Per call: We will work on handling the output from `EventStudyInteract`to be compatible with output from `xtevent`. That way, all the post-estimation functions from `xtevent` should work.

[2022-10-05 14:39] Constantino-Carreto-Romero commented on #114
@jorpppp  It seems that there are two bugs:
- In this [block of code](https://github.com/JMSLab/xtevent/blob/922590826a61ea14af6c2b586c0de8d45e613aee/xtevent/_eventiv.ado#L161), that goes from line 161 to line 175, for a `proxyiv` that is only numbers (`numlist`) or numbers and variable names (`mixed`), we want to include in the local `ivnorm` all the integers that indicate leads to use as instrum

[2022-10-05 23:05] jorpppp commented on #114
Thanks @Constantino-Carreto-Romero. This makes sense. The fix you suggest for the loop sounds good.

The value of ivnorm for the case when no leads are used should be -1.

Can you try to implement the fixes, please?

[2022-10-05 23:08] Constantino-Carreto-Romero commented on #113
Update: I'm currently working on this.

[2022-10-05 23:12] Constantino-Carreto-Romero commented on #114
@jorpppp sure thing, I will start working on implementing it.

[2022-10-06 15:21] Constantino-Carreto-Romero commented on #113
@jorpppp  in https://github.com/JMSLab/xtevent/commit/85982865a2821063a3b1996bc06841ebde056468 I updated the examples on the homepage, so now they don't have collinearity issues. I had tried with different specifications but the collinearity problems continued. The main cause was that the database has many missing observations, so in the new examples, I generate and use a time variable that ignore

[2022-10-06 21:17] Constantino-Carreto-Romero commented on #113
in https://github.com/JMSLab/xtevent/commit/a80d6e38fb7a874fc0f4d16bc2095443d639173d I modified the examples from the help files that had collinearity issues. In https://github.com/JMSLab/xtevent/commit/b9ae51e356d14eaee23e6c960f95aaea22f5f37d I added to the test file one example about collinearity between the `proxyiv` and the event-time dummies. Then, I ran the test file.

[2022-10-08 00:27] Constantino-Carreto-Romero commented on #114
I implemented this in https://github.com/JMSLab/xtevent/commit/0fec5c442b1648f17c25df66ea2ec93f00dbca42.

It is not possible to set `ivnorm` to -1 because if the normalized coefficient is `norm`=-1, the program doesn't compute that coefficient. The coefficient to compute the scaling factor needs to be different from the normalized coefficient. ¿What coefficient shoul we use? Temporarily, in https:

[2022-10-10 16:25] Constantino-Carreto-Romero commented on #108
In https://github.com/JMSLab/xtevent/commit/a20f3ebbe317e3d4289c3279be9c2438153bbeda I added a warning message when in the IV setting, the user specifies robust standard errors and the option `nofe` is not activated, so the underlying command is `xtivreg`. The warning is the following:
You specified to compute robust standard errors and the underlying estimation command is xtivreg. Standard errors

[2022-10-10 18:36] Constantino-Carreto-Romero commented on #35
update: I'm currently working on making compatible the output from `EventStudyInteract` with the output from `xtevent`. I'm following that outline.

[2022-10-11 19:57] Constantino-Carreto-Romero commented on #35
In https://github.com/JMSLab/xtevent/commit/a9ed6df799c86072488aecb2691206eab825c7c1 I added some code, so now the postestimation options, such as `diffavg` and trend adjustment by GMM are enabled. `xteventplot` and `xteventtest` can also be executed properly. To make compatible the output from SA with `xtevent`, I followed the outline described at the end of https://github.com/JMSLab/xtevent/issu

[2022-10-11 20:09] jorpppp commented on #7
Pending, @jorpppp has to check.

[2022-10-11 20:24] jorpppp commented on #35
@jorpppp  Will check this code

@Constantino-Carreto-Romero  will add cohort-level estimates and their standard errors (or variance matrices) as outputs that the user can access, should they want to do so.

@jorpppp will download the simulated datasets with Heterogeneous Treatment effects from the EventStudy repo, and send them to @Constantino-Carreto-Romero. @Constantino-Carreto-Romero will run a

[2022-10-11 20:29] jorpppp commented on #35
I agree that since the set of cohort variables interacted with the time dummies has a large number of variables, it's convenient to have these variables be temporary. The code is now generating these temporary variables in `_eventols`.

We should enable an option for the user to keep these interacted variables in the dataset if they want to. @Constantino-Carreto-Romero will add this option.

[2022-10-11 20:30] jorpppp commented on #59
Still pending.

[2022-10-11 20:31] jorpppp commented on #103
Pending, should be done this week @Constantino-Carreto-Romero

[2022-10-11 20:36] jorpppp commented on #108
Thanks @Constantino-Carreto-Romero. Some changes:

- We can add a link to the relevant help section in the warning message.
- Let's change the text a bit:

You asked for robust standard errors and the underlying estimation command is {cmd xtivreg}. Standard errors will be clustered by panelvar. See {link to helpfile}.

[2022-10-11 20:46] jorpppp commented on #114
Thanks @Constantino-Carreto-Romero. In cases when we have external instruments, we should normalize one coefficient per instrumental variable as long as the # of instruments is smaller than the LHS of the window. Can you implement this please?

[2022-10-12 22:06] jorpppp commented on #7
I managed to do some basic testing of the modified `xteventplot` and I glanced at the code. There are a few things that we should fix before tackling the options that are listed as not implemented in https://github.com/JMSLab/xtevent/issues/7#issuecomment-1239905659

- [ ] The default should be having different colors and markers for the point estimates in the different models
- [ ] The normalized

[2022-10-13 17:16] jorpppp commented on #59
@Constantino-Carreto-Romero I am having trouble opening this small repeated cross section file. Can you check and upload it again if needed, please?

[2022-10-13 19:05] Constantino-Carreto-Romero commented on #59
@jorpppp, in https://github.com/JMSLab/xtevent/commit/a2d7d6de4771f2e31ba9fad090f5687949fda592 I reuploaded the small version dataset. It is placed in this [folder](https://github.com/JMSLab/xtevent/blob/issue_59-allow-for-data-structures-that-cannot-be-xtseted/issues/59/small_repeated_cross_sectional_example31.dta). I was able to download it and open it.

[2022-10-13 22:43] jorpppp commented on #59
It works now, thanks @Constantino-Carreto-Romero

[2022-10-13 22:59] jorpppp commented on #59
https://github.com/JMSLab/xtevent/blob/a2d7d6de4771f2e31ba9fad090f5687949fda592/xtevent/_eventgenvars.ado#L145

@Constantino-Carreto-Romero Do we need an ``` if `touse' ``` here? Can you check the usage of `touse` throughout, please?

[2022-10-13 23:12] jorpppp commented on #59
@Constantino-Carreto-Romero If the proxy were to vary at the state level as well, I think the answer is yes and this is straightforward. Our units are the "states" and the time differences of the policy variable should be within state.

The case with a policy variable at the "state" level and a proxy with individual-level variation is hard to think about, because you could have different values of

[2022-10-13 23:31] jorpppp commented on #59
https://github.com/JMSLab/xtevent/blob/a2d7d6de4771f2e31ba9fad090f5687949fda592/issues/59/get_unit_time_effects.ado#L43

@Constantino-Carreto-Romero I'm not sure that this is the most efficient way to get these "state-time" fe estimates. My thought would have been to use `areg` or `_regress, absorb` and then get them as residuals. Can you do some testing, please? See the formula to get the fixed e

[2022-10-13 23:35] jorpppp commented on #59
https://github.com/JMSLab/xtevent/blob/a2d7d6de4771f2e31ba9fad090f5687949fda592/issues/59/get_unit_time_effects.ado#L73

@Constantino-Carreto-Romero We should have a filename option here so the user can save their state-time fixed effects to a file of their choice. Replace should be an option that should be off by default. We should also have an option to replace the dataset in memory with the uni

[2022-10-14 00:03] Constantino-Carreto-Romero commented on #103
@jorpppp, on the [homepage](https://github.com/JMSLab/xtevent/tree/issue103_emphasize_impute_option),
- I added a paragraph about the impute option and highlighted that the user should use `impute(stag)` to have the results of xtevent 1.0.0.
- There, I added a link to a note about the `impute` option. I was writing it in markdown but I ran into the [markstat](https://data.princeton.edu/stata/markd

[2022-10-14 16:46] jmshapir commented on #59
@jorpppp thanks for asking!

Econometrically, my guess is that everything goes through in that case with suitable modification.

From an engineering point of view, I worry a bit that having variables (other than control variables) that vary within $(i,t)$ cells may cause confusion.

But I don't mind allowing for it if you and others feel it will be useful to users.

@SimonFreyaldenhoven @chansen77

[2022-10-14 17:42] chansen776 commented on #59
@jorpppp @jmshapir @SimonFreyaldenhoven It's maybe not deep but doing something more for the case with a state level variable and individual level proxy (and data) might be fun to play with. The other direction, IV with a state level IV and individual level instrument (and controls), is more fun (if sort of transparent) but I'm not sure anyone's really put something down there. The basic issue is

[2022-10-14 20:34] jmshapir commented on #59
@chansen776 not actionable right now (so feel free to ignore) but I'm curious if you have a use case in mind?

[2022-10-14 20:43] Constantino-Carreto-Romero commented on #114
update: I'm currently working on it

[2022-10-14 21:03] chansen776 commented on #59
@jmshapir Nothing specific, but it does seem that policy analysis with a state level policy variable and individual level data is something that happens.

[2022-10-14 23:37] Constantino-Carreto-Romero commented on #114
@jorpppp  in https://github.com/JMSLab/xtevent/commit/ddf03f73e81c6ebe97349198cfede59afa232c41 I implemented https://github.com/JMSLab/xtevent/issues/114#issuecomment-1275257341

[These are some examples](https://github.com/JMSLab/xtevent/blob/issue114_proxyiv_doesnt_allow_varnames/issue114/examples%20to%20check%20the%20implementation.do) to check the implementation. [This is the log file](https:/

[2022-10-17 16:19] Constantino-Carreto-Romero commented on #35
update: I'm currently working on this issue

[2022-10-18 20:17] jmshapir opened #116 "Wording of warning"
When anticipatory effects are allowed we display a warning indicating which coefficient we normalize:

https://github.com/JMSLab/xtevent/blob/30656631e4dfe55c9aa8e0881184bd290167c9d3/xtevent/xtevent.ado#L174

I think the language "normalized to N" for N a lead may be confusing since it may suggest we're normalizing the coefficient to be equal to the value N rather than that we're normalizing (to a

[2022-10-19 00:52] Constantino-Carreto-Romero commented on #108
In https://github.com/JMSLab/xtevent/commit/16aae068beb6ecccd0f70e1310aaaf65250325dc I implemented https://github.com/JMSLab/xtevent/issues/108#issuecomment-1275246630

[2022-10-19 14:41] Constantino-Carreto-Romero commented on #35
In https://github.com/JMSLab/xtevent/commit/85ae3976f6164f59e5a1bdea050d4f94d6e52e09 I implemented:

- https://github.com/JMSLab/xtevent/issues/35#issuecomment-1275232678 about `xtevent` producing other outputs `EventStudyInteract` produces as well. These are matrices of: i) cohort-relative time effects; ii) variance of cohort-relative time effects; iii) cohort shares; iv) variance of cohort share

[2022-10-19 15:10] jorpppp commented on #35
Per call, the option  `saveinteract` will become a suboption of `savek`.

[2022-10-19 15:20] jorpppp commented on #59
Thanks @jmshapir @chansen776. It seems like the conclusion here is that @Constantino-Carreto-Romero can proceed with development along the lines of https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278271571

[2022-10-19 15:27] jorpppp commented on #103
@jorpppp  will review the note about the impute option here: https://raw.githack.com/JMSLab/xtevent/issue103_emphasize_impute_option/issue103/impute_option_description.html

[2022-10-19 15:34] jorpppp commented on #114
Per call:

- @Constantino-Carreto-Romero will add an informative message about the normalization in the mixed IV case
- @Constantino-Carreto-Romero will check that `xteventplot` works properly in the examples https://github.com/JMSLab/xtevent/blob/issue114_proxyiv_doesnt_allow_varnames/issue114/examples%20to%20check%20the%20implementation.do

[2022-10-19 15:36] jorpppp commented on #114
Also note that we should change the language of the messages following #116

[2022-10-19 15:36] jorpppp commented on #116
Sounds good, thanks @jmshapir. @Constantino-Carreto-Romero , can you implement please?

[2022-10-21 13:24] Constantino-Carreto-Romero commented on #35
update: I'm currently working on this issue

[2022-10-24 06:03] Constantino-Carreto-Romero commented on #35
In https://github.com/JMSLab/xtevent/commit/1e1e4796210c2405ee0a91cf791a87da0692afe1 I implemented https://github.com/JMSLab/xtevent/issues/35#issuecomment-1284170149.

In https://github.com/JMSLab/xtevent/commit/2b1aea04a7874b945010f559717e486a98ca3a7d I added some examples to the example file to check the implementation of https://github.com/JMSLab/xtevent/issues/35#issuecomment-1284170149. I up

[2022-10-24 19:53] jorpppp commented on #103
Per call: It would be good to have the math behind this.

[2022-10-26 19:38] Constantino-Carreto-Romero commented on #35
@jorpppp in https://github.com/JMSLab/xtevent/commit/2548f1763fffcfae12fd4569844577249588210c I added some examples to the help file; in https://github.com/JMSLab/xtevent/commit/c1bdf8085b5c781fed4898496beb9e8b7b08d21f I added an example to the home page and; in https://github.com/JMSLab/xtevent/commit/83a3cfe33c2b35da6ff4b5430773b8223fe27834 I added examples to the test file. I checked that in ea

[2022-10-27 00:39] Constantino-Carreto-Romero commented on #59
update: I'm currently working on the corrections https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278263450 and https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278282430 and on implementing https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278271571

[2022-10-27 04:12] Constantino-Carreto-Romero commented on #103
In https://github.com/JMSLab/xtevent/commit/fe7fd51efdd0b06b7768b617babd9ce53cbff294 I implemented https://github.com/JMSLab/xtevent/issues/103#issuecomment-1284192661

It is pending https://github.com/JMSLab/xtevent/issues/103#issuecomment-1289525176

[2022-10-28 03:15] Constantino-Carreto-Romero commented on #114
@jorpppp
-  in https://github.com/JMSLab/xtevent/commit/4255814812e7e65303006e6d337957ed1db232a2 I implemented https://github.com/JMSLab/xtevent/issues/114#issuecomment-1284207892. For the messages in this issue, I considered https://github.com/JMSLab/xtevent/issues/114#issuecomment-1284209751.
- In https://github.com/JMSLab/xtevent/commit/a79b0e611568b1b8ce18bf7088c83d4350f43cde there are some ex

[2022-10-30 22:25] Constantino-Carreto-Romero commented on #116
In https://github.com/JMSLab/xtevent/commit/6c9327a1471126b36ad806d56e026d3224f528e4 I edited the message indicated in https://github.com/JMSLab/xtevent/issues/116#issue-1413793666. I checked in other parts of the ado files for other messages that could need to be changed as well, but I didn't find such messages. The new message in #114 considers this wording.

[2022-11-01 21:40] #113 closed

[2022-11-01 21:41] #116 closed

[2022-11-01 21:42] Constantino-Carreto-Romero commented on #59
@jorpppp in:
- https://github.com/JMSLab/xtevent/commit/e8fc46854cf40cbd493e2ee01fa58796926f850c I implemented https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278263450
- https://github.com/JMSLab/xtevent/commit/d34c1b1631c597f40a6a6f336b98e7cd15b7ac31 I implemented https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278282430. I checked `_regress` vs `areg` and they were similarly

[2022-11-01 22:19] jorpppp commented on #103
@Constantino-Carreto-Romero implemented the last formatting edits for these examples, so we are ready to pull.

[2022-11-01 22:19] jorpppp commented on #103
Summary: In this issue we updated the Readme file to emphasize the `impute` option.

[2022-11-03 05:07] Constantino-Carreto-Romero commented on #35
Per call, @Constantino-Carreto-Romero will:
- In the message telling that the event-time coefficients are being estimated by the Interaction Weighted Estimator, be more informative and specify that it is SA's estimator.
- Recreate the log file using a dataset with a greater number of observations per cohort. With this, `xtevent` and `EventStudyInteract` should produce very similar outputs with the

[2022-11-04 18:26] Constantino-Carreto-Romero opened #119 "Write down the imputation of the policy variable in math"
Per comment https://github.com/JMSLab/xtevent/issues/103#issuecomment-1289525176, write down the math behind the imputation of the policy variable carried out by the -impute- option.

[2022-11-04 19:06] Constantino-Carreto-Romero opened #120 "Integrate the documentation of the impute option to the repository"
Per comment https://github.com/JMSLab/xtevent/issues/103#issuecomment-1299301462, find a place in the repository for the documentation of the impute option.

[2022-11-04 19:27] Constantino-Carreto-Romero commented on #120
In https://github.com/JMSLab/xtevent/commit/3ae0c0f191b7c4ffddb2c09bd242f50810bd9bdc I uploaded:
- the file `create note about impute option using markstat.do`. With this file, `markstat` creates a smcl file and an html file. The html file is the final note about the impute option, that can be rendered with the help of `githack`: https://raw.githack.com/JMSLab/xtevent/issue120_integrate_impute_doc

[2022-11-05 01:54] #103 closed

[2022-11-05 02:02] Constantino-Carreto-Romero commented on #103
Summary: In this issue, we added a paragraph on the home page to emphasize the -impute- option and created an HTML file describing this option.

Thread continues in https://github.com/JMSLab/xtevent/pull/121

[2022-11-05 02:12] Constantino-Carreto-Romero commented on #120
On the home page, the link that redirects to the note about the impute option
https://raw.githack.com/JMSLab/xtevent/issue103_emphasize_impute_option/issue103/impute_option_description.html needs to be updated, but this can be done only after finding a place in the repository for that HTML file.

[2022-11-05 22:00] Constantino-Carreto-Romero commented on #114
Per call: the implementation looks correct. There are only some examples that need small changes. After that, @Constantino-Carreto-Romero can open the PR

[2022-11-07 02:17] Constantino-Carreto-Romero commented on #114
In https://github.com/JMSLab/xtevent/commit/429f9d5487c70026a378e889474da32f7f08f828 I implemented small changes to some examples to check the implementation. I also uploaded the log file. Both of them are placed in the issue folder.
I ran the test file again and checked that `xteventplot` keeps working properly. For instance, when executing:
[code]
it produces the following [plot](https://user-im

[2022-11-09 19:10] Constantino-Carreto-Romero commented on #59
@jorpppp in:
- https://github.com/JMSLab/xtevent/commit/36ad261a6d44e8a5babba715a7e6931a3e73d9c8  I implemented the option to replace the dataset in memory in `get_unit_time_effects`, described in https://github.com/JMSLab/xtevent/issues/59#issuecomment-1278285451. I documented that option there, as well.
- https://github.com/JMSLab/xtevent/commit/7ef7edb25daadc7e3b83a8ef9d9522d79ec521f1 I impleme

[2022-11-09 21:58] #114 closed

[2022-11-09 22:07] jorpppp commented on #59
Thanks @Constantino-Carreto-Romero. Some additional changes:

- The `name` option should be called `saving`. The replace option should be a suboption inside `saving`. Watch usage of double quotes here.
-

[2022-11-14 16:01] Constantino-Carreto-Romero commented on #59
@jorpppp :
In https://github.com/JMSLab/xtevent/commit/9dd9f70b6dd082b0f39739824cdcc8ee99d18e1b I implemented those changes.
In https://github.com/JMSLab/xtevent/commit/3645a692fa284e83695bd77b3b242bf2edf75d2d I implemented for the static versions, which I had overlooked.
In https://github.com/JMSLab/xtevent/commit/1d975e56d31bad58f1336a1a3ffaa3eb6e02c1f1 I updated the examples to check the implem

[2022-11-16 13:50] Constantino-Carreto-Romero opened #123 "Implement creation of cohort and control cohort variables in SA"
Per https://github.com/JMSLab/xtevent/issues/35#issuecomment-1301644035 from #35: xtevent's SA should be able to create the cohort and control_cohort variables, so it is not necessary that the user has to create these variables, as in the actual setting (which mimics EventStudyInteract).

[2022-11-16 14:05] Constantino-Carreto-Romero commented on #35
@jorpppp :

In https://github.com/JMSLab/xtevent/commit/d06b870d9040494368d0c067a6d8282d7cb51483, I implemented it.

In https://github.com/JMSLab/xtevent/commit/6179d2fc456832ab330fbf11ff2319007774f1fa, I added to the examples to check the implementation, estimations with different sample sizes: results indicate that as the number of observations per cohort increases, the coefficients from xtevent

[2022-11-16 22:02] jorpppp commented on #59
Thanks @Constantino-Carreto-Romero.

@jorge-emilio-melendez , can you help by reading the help file for `getunittimeeffects.ado` [here](https://github.com/JMSLab/xtevent/blob/9dd9f70b6dd082b0f39739824cdcc8ee99d18e1b/xtevent/get_unit_time_effects.sthlp) and checking the text for typos and clarity, please?

[2022-11-16 22:15] jorpppp commented on #59
Also, @jorge-emilio-melendez can you please check the implementation examples in https://github.com/JMSLab/xtevent/commit/1d975e56d31bad58f1336a1a3ffaa3eb6e02c1f1 and try to "break them" (as in #35)

[2022-11-23 21:46] jorpppp commented on #59
@Constantino-Carreto-Romero and @jorge-emilio-melendez still working on this.

[2022-11-23 21:49] jorpppp commented on #7
@Constantino-Carreto-Romero will check this after #59 for Monday's meeting.

[2022-11-27 20:11] Constantino-Carreto-Romero commented on #59
@jorpppp,
in https://github.com/JMSLab/xtevent/commit/179e1bfdb374ea67bd11b106047c41e4ee50990b,  I corrected the typo in https://github.com/JMSLab/xtevent/commit/9dd9f70b6dd082b0f39739824cdcc8ee99d18e1b#r90154867. I also checked for more typos, just in case.

in https://github.com/JMSLab/xtevent/commit/8d4edf8ccdc4b0dcd987f67dc594b0de79278fec,  I implemented https://github.com/JMSLab/xtevent/commi

[2022-11-28 00:16] Constantino-Carreto-Romero commented on #7
Update: I have already started to revise this issue.

[2022-11-28 20:16] jorpppp commented on #59
Thanks @Constantino-Carreto-Romero , the changes look good. We are only missing a minor change in https://github.com/JMSLab/xtevent/commit/8d4edf8ccdc4b0dcd987f67dc594b0de79278fec#r91342444 .

@jorge-emilio-melendez will check the code here and try to "break" it, per https://github.com/JMSLab/xtevent/issues/59#issuecomment-1317743653